<div class = 'container'>
    <div class='col-md-3'>
        <%= render partial: "/edits/editbar"%>
    </div>
    <div class='col-md-9'>
            <div class="jumbotron">
            <h2>Choose the items you want to edit</h2>
            <p>
            Shot what able cold new the see hold. Friendly as an betrayed formerly he. Morning because as to society behaved moments. Put ladies design mrs sister was. Play on hill felt john no gate. Am passed figure to marked in. Prosperous middletons is ye inhabiting as assistance me especially. For looking two cousins regular amongst. 
            </p>
            </div>
    </div>
</div>