<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td><strong>Item</strong></td>
      <td><strong>Data</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number of Orders</td>
      <td><%= @order_created_seven_days %></td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <% @revenue_in_seven_days.each do |revenue| %>
        <td><%= revenue.sum %></td>
      <% end %>
    </tr>
    <tr>
      <td>Average Order Value</td>
      <% @average_order_in_seven_days.each do |avg| %>
        <td><%= avg.order_value %></td>
      <% end %>
    </tr>
    <tr>
      <td>Largest Order Value</td>
      <% @max_order_in_seven_days.each do |max| %>
        <td><%= max.order_value %></td>
      <% end %>
    </tr>
  </tbody>
</table>