<% content_for :title do %>
  <title>Analytics Dashboard Home</title>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Viking Store Analytics Dashboard</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
       <h4 class="text-center">1. Overall Platform</h4>
      <div class="row">
        <div class="col-md-12">
          <label>Last 7 days</label>
          <%= render partial: "/users/users_stats" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Last 30 days</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>New Users</td>
              <td></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Total</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>New Users</td>
              <td></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4 class="text-center">2. User Demographics and Behaviour</h4>
      <div class="row">
        <div class="col-md-12">
          <label>Top 3 States Users Live In (billing)</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>State 1</td>
              <td></td>
            </tr>
            <tr>
              <td>State 1</td>
              <td></td>
            </tr>
            <tr>
              <td>State 3</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Top 3 Cities Users Live In (billing)</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>State 1</td>
              <td></td>
            </tr>
            <tr>
              <td>State 2</td>
              <td></td>
            </tr>
            <tr>
              <td>State 3</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Top User With...</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>User</strong></td>
              <td><strong>Quantity</strong></td>
            </tr>
            <tr>
              <td>Highest Single Order Value</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Highest Lifetime Value</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Highest Average Order Value</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Most Orders Placed</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
       <h4 class="text-center">3. Order Statitics</h4>
      <div class="row">
        <div class="col-md-12">
          <label>Last 7 days</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td></td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td></td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td></td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Last 30 days</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td></td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td></td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td></td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Total</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Item</strong></td>
              <td><strong>Data</strong></td>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td></td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td></td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td></td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
       <h4 class="text-center">4. Order Statitics</h4>
      <div class="row">
        <div class="col-md-12">
          <label>Orders by day</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Date</strong></td>
              <td><strong>Quantity</strong></td>
              <td><strong>Value</strong></td>
            </tr>
            <tr>
              <td>Today</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Orders by Week</label>
          <table class="table table-striped">
            <tr>
              <td><strong>Date</strong></td>
              <td><strong>Quantity</strong></td>
              <td><strong>Value</strong></td>
            </tr>
            <tr>
              <td>22/8</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
     
      </div>
    </div>
  </div>

</div>