<%= render partial: 'form' %>
<%= link_to "Delete Address", admin_address_path(@address), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger btn-lg btn-block" %>
</div>
