<h1>Edit Address For: <%= @address.user['first_name'] +  " " + @address.user['last_name']%></h1>
<%= render partial: 'form', locals: { address: @address,
                                         user: @user,
                                         city: @city } %>
