<div class="row">
  <div class="col col-xs-12">
    <h2 class="page-header text-center">Edit User Address</h2>

    <%= render partial: 'form', locals: { address: @address , address_info: @address_info} %>

    <br>
  </div>
</div>