<h1>Edit Address For: <%= @user['first_name'] +  " " + @user['last_name']%></h1>
<%= render partial: 'form', locals: { address: @address,
                                         user: @user,
                                         city: @city } %> 
