<h1> Edit address for <%= link_to @address.user.name, @address.user %> </h1>

<%= render partial: "admin/addresses/form", locals: {address: @address} %>

<%= link_to "Delete this address!", [:admin, @address], method: 'delete' %>
