<section id='admin-address-index'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <h1 class='text-center'>
        <%= "#{@filtered_user.first_name} #{@filtered_user.last_name}'s " if @filtered_user %>Addresses
      </h1>

    </div>
  </div>

  <div class='row'>
    <div class='col-xs-6 col-xs-offset-3 text-center'>

      <%= address_create(@filtered_user) %>

    </div>
  </div>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <table class='table table-striped table-bordered text-center'>

        <thead class='bg-success'>
          <tr>
            <td>ID</td>
            <td>User</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Orders</td>
            <td>Created</td>
            <td>SHOW</td>
            <td>EDIT</td>
            <td>DELETE</td>
          </tr>
        </thead>

        <tbody>
          <%= render :partial => 'address', :collection => @addresses %>
        </tbody>


      </table>

    </div>
  </div>

</section>