<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">Addresses</h1>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    <p>Create a new address from within
       <%=link_to "User", admin_user_path(@user)%>
       profile
    </p>
    <%= render partial: 'show_addresses' %>
  </div>
</div>
