<div class="panel-heading">
  <h4>Create New Address for <%= @address.user.first_name %> <%= @address.user.last_name %></h4>
</div>

<%= render partial: "address_form", locals: { address: @address } %>