<div class="right">
  <%= link_to 'Edit', edit_admin_user_address_path(@user, @address), class: "btn btn-sm btn-primary" %>
</div> <!-- right -->

<h1>Address</h1>

<p>
  <%= link_to @user.name, admin_user_path(@user)%><br>
  <%= display_address(@address) %>
</p>

<%= link_to 'User Profile', admin_user_path(@user), class: "btn btn-primary" %>
