<nav class="navbar navbar-default container">
  <form class="navbar-btn" role = "group">
      <%= link_to('DashBoard', root_path, :class => 'btn btn-default')  %>
      <%= link_to('Edit', edits_path, :class => 'btn btn-default')  %>
  </form>
</nav>