<div class="col-md-5 border">

  <h2 class="text-center text-primary mt-4">3. Order Statistics</h2>

  <!-- table with dummy data -->
  <h4 class="text-left text-secondary mt-4">Last 7 Days</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Number of Orders</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td>$50000</td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td>$600</td>
      </tr>
    </tbody>
  </table>

  <!-- table with dummy data -->
  <h4 class="text-left text-secondary mt-4">Last 30 Days</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Number of Orders</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td>$50000</td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td>$600</td>
      </tr>
    </tbody>
  </table>

  <!-- Totals table -->
  <h4 class="text-left text-secondary mt-4">Total</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Number of Orders</td>
        <td><%= locals[:total_orders] %></td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td><%= number_to_currency(locals[:total_revenue]) %></td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td><%= number_to_currency(locals[:total_average_order_value]) %></td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td><%= number_to_currency(locals[:total_largest_order_value].revenue) %></td>
      </tr>
    </tbody>
  </table>

</div>
