<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">Order Statistics</h2>
  </div>
  <div class="panel-body">

    <h3>Last 7 Days</h3>
    <%= render partial: 'order_stats_table', locals: {num_orders: 100, total_revenue: 50000, avg_order_value: 150, max_order_value: 600} %>

    <h3>Last 30 Days</h3>
    <%= render partial: 'order_stats_table', locals: {num_orders: 500, total_revenue: 250000, avg_order_value: 140, max_order_value: 800} %>

    <h3>Total</h3>
    <%= render partial: 'order_stats_table', locals: {num_orders: 1503400, total_revenue: 5340000, avg_order_value: 150, max_order_value: 600} %>

  </div> <!-- panel body -->
</div> <!-- panel -->
