<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">Overall Platform</h2>
  </div>
  <div class="panel-body">

    <h3>Last 7 Days</h3>
    <%= render partial: 'overall_platform_table', locals: {stats: @overall_7_days, new_flag: true} %>


    <h3>Last 30 Days</h3>
    <%= render partial: 'overall_platform_table', locals: {stats: @overall_30_days, new_flag: true} %>

    <h3>Total</h3>
    <%= render partial: 'overall_platform_table', locals: {stats: @overall_total, new_flag: false} %>

  </div> <!-- panel body -->
</div> <!-- panel -->