<table>
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>New Users</td>
    <td><%= @new_users_month %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= @orders_month %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue_month.round(2) %></td>
  </tr>
</table>