<table>
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>New Users</td>
    <td><%= @new_users_week %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= @orders_week %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue_week %></td>
  </tr>
</table>