<div class="col-md-6">
  
  <div class="text-center">
    <h3><%= panel[:title] %></h3>
  </div>

  <% panel[:tables].each do |t| %>
    <%= render partial: 'table', locals: { t: t } %>
  <% end %>

</div>