<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. Overall Platform</h3>
  </div>
  <div class="panel-body">
    <h4>Last 7 Days</h4>
    <table class="table table-striped">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>New Users</td>
        <td>some_method</td>
      </tr>
      <tr>
        <td>Orders</td>
        <td>some_method</td>
      </tr>
      <tr>
        <td>New Products</td>
        <td>some_method</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>some_method</td>
      </tr>
    </table>
  </div>
</div>
