<div class='col-md-6'>

  <div class='panel panel-default'>

    <h2 class='text-center'>1. Overall Platform</h2>


    <div class='panel-body'>

      <% data.each do |day_range, values| %>
        <%= render :partial => 'table_section', :locals => { day_range: day_range, values: values } %>
      <% end %>

    </div> <!-- panel-body -->

  </div> <!-- panel -->
</div> <!-- col -->