<!-- Table 4 : Time Series Data -->
	<div class='col-sm-5 panel'>
		<h3>4. Time Series Data</h3>

		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>New Users</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Orders</td>
				<td>100</td>
			</tr>

			<tr>
				<td>New Product</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td>100</td>
			</tr>

		</table>
	</div>