<div class='col-md-6'>

  <div class='panel panel-default'>

    <h2 class='text-center'>1. Overall Platform</h2>


    <div class='panel-body'>

      <% 3.times do %>
        <%= render 'table_section' %>
      <% end %>

    </div> <!-- panel-body -->

  </div> <!-- panel -->
</div> <!-- col -->