<!-- Table 4 : Time Series Data -->
	<div class='col-sm-5 panel'>
		<h3>4. Time Series Data</h3>

		<h3>Orders by day</h3>
		<table class="table table-striped">
			<tr>
				<th>Day</th>
				<th>Quantity</th>
				<th>Value</th>
			</tr>

			<% orders_by_days.each_with_index do |order,index| %>

			<tr>
				<% if index == 0 %>
					<td>Today</td>
				<% elsif index == 1 %>
					<td>Yesterday</td>
				<% else %>
				<td><%= order.day %></td>
				<% end %>
				<td><%= order.quantity %></td>
				<td><%= order.value %></td>
			</tr>
			<% end %>

		</table>
	</div>