

  <div class="row">

   <div class="col-md-5">
    <h3>User Data</h3>
    <table class="table">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Users</td>
        <td>blah</td>
      </tr>
      <tr>
        <td>Products</td>
        <td>gos</td>
      </tr>   
      <tr>
        <td>Orders</td>
        <td>dkg</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>diqw</td>
      </tr>
    </table>
    </div>


    <div class="col-md-5">
    <h3>Product Data</h3>
    <table class="table">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Users</td>
        <td>blah</td>
      </tr>
      <tr>
        <td>Products</td>
        <td>gos</td>
      </tr>   
      <tr>
        <td>Orders</td>
        <td>dkg</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>diqw</td>
      </tr>
    </table>
    </div>

  </div>



  <div class="row">

    <div class="col-md-5">
    <h3>Trends</h3>
    <table class="table">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Users</td>
        <td>blah</td>
      </tr>
      <tr>
        <td>Products</td>
        <td>gos</td>
      </tr>   
      <tr>
        <td>Orders</td>
        <td>dkg</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>diqw</td>
      </tr>
    </table>
    </div>


    <div class="col-md-5">
    <h3>Something</h3>
    <table class="table">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Users</td>
        <td>blah</td>
      </tr>
      <tr>
        <td>Products</td>
        <td>gos</td>
      </tr>   
      <tr>
        <td>Orders</td>
        <td>dkg</td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td>diqw</td>
      </tr>
    </table>
    </div>

  </div>