<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>

    <h4><%= table_title %></h4>


    <table class='table table-striped table-bordered table-condensed'>

      <thead class='bg-primary'>
        <tr>
          <td>Item</td>
          <td>Data</td>
        </tr>
      </thead>

      <tbody>

        <% values.each do |label, data| %>
          <tr>
            <td><%= label %></td>
            <td><%= data %></td>
          </tr>
        <% end %>

      </tbody>

    </table>

  </div> <!-- col -->

</div> <!-- row -->