<div class="panel panel-default">
  <div class="panel-heading"><%= t[:title] %></div>

  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>

      <% t[:rows].each do |row| %>
        <tr>
          <td><%= row[0] %></td>
          <td><%= row[1] %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>