<table class="table table-bordered table-striped">
	<% 5.times do |row| %>
    <tr>
      <% 2.times do |col| %>
        <% if row == 0 %>
			<th><%= data[row][col] %></th>
		<% else %>
			<td><%= data[row][col] %></td>
		<% end %>
      <% end %>
    </tr>
  <% end %>
</table>