<div class="panel panel-default">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>

    <% @data_hash.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>

    <% end %>

    </tbody>
  </table>

</div>
