<div class="col-md-5 border ml-md-auto">
  <h2 class="text-center text-primary mt-4">4. Time Series Data</h2>

  <!-- table with dummy data -->
  <h4 class="text-left text-secondary mt-4">Orders by Day</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Date</td>
        <td>Quantity</td>
        <td>Value</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Today</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Yesterday</td>
        <td>5</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Today</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 15</td>
        <td>10</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 14</td>
        <td>2</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 13</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 12</td>
        <td>3</td>
        <td>$500</td>
      </tr>
    </tbody>
  </table>

  <!-- table with dummy data -->
  <h4 class="text-left text-secondary mt-4">Orders by Week</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Date</td>
        <td>Quantity</td>
        <td>Value</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Today</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Yesterday</td>
        <td>5</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Today</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 15</td>
        <td>10</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 14</td>
        <td>2</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 13</td>
        <td>3</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Aug 12</td>
        <td>3</td>
        <td>$500</td>
      </tr>
    </tbody>
  </table>

</div>
