<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="info">
      <th class="text-center">Location</th>
      <th class="text-center">Number of Customers</th>
      <th class="text-center">Top Customer</th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td class="text-right"><%= number_to_human location.count %></td>
        <td><%= location.user_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>