<div class="col-md-5 border ml-md-auto">

  <h2 class="text-center text-primary mt-4">2. User Demographics and Behavior</h2>

  <!-- Top 3 States that Users live in by billing address -->
  <h4 class="text-left text-secondary mt-4">Top 3 States Users Live In (Billing)</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
    </thead>

    <tbody>
      <% locals[:top_3_states_by_billing_address].each do |state| %>
        <tr>
          <td><%= state.name %></td>
          <td><%= state.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Top 3 Cities that Users live in by billing address -->
  <h4 class="text-left text-secondary mt-4">Top 3 Cities Users Live In (Billing)</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>Data</td>
      </tr>
    </thead>

    <tbody>
      <% locals[:top_3_cities_by_billing_address].each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- table with dummy data -->
  <h4 class="text-left text-secondary mt-4">Top User With..</h4>
  <table class="table table-striped mt-4">
    <thead class="table-inverse">
      <tr>
        <td>Item</td>
        <td>User</td>
        <td>Quantity</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Highest Single Order Value</td>
        <td>Joe Smith</td>
        <td>$650</td>
      </tr>
      <tr>
        <td>Highest Lifetime Value</td>
        <td>Jane Cook</td>
        <td>$1500</td>
      </tr>
      <tr>
        <td>Highest Average Order Value</td>
        <td>Jimmy Boffa</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Most Orders Placed</td>
        <td>Jill Juno</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
</div>
