<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">User Demographics and Behavior</h2>

  </div>
  <div class="panel-body">

    <h3>Top 3 States Users Live In (billing)</h3>
    <%= render partial: 'user_dem_location_table', locals: {locations: @top_states} %>

    <h3>Top 3 Cities Users Live In (billing)</h3>
    <%= render partial: 'user_dem_location_table', locals: {locations: @top_cities} %>

    <h3>Total</h3>
    <%= render partial: 'user_behavior_table', locals: {stats: @behavior_stats} %>

  </div> <!-- panel body -->
</div> <!-- panel -->
