<!-- basic_admin_template.html.erb -->

<!-- Viking Store Admin Portal -->

<div class="container">
  <h1 class="text-center portal-headline"><strong>Viking Store Admin Portal</strong></h1>
  <br>

  <div class="row"> <!-- just one row -->
    <div class="col-md-3 text-center"> <!-- "navbar col" -->
      <div class="navbar-col">
        <h5>Navigation Options</h5>
        <a href="#">Users</a><br>
        <a href="#">Addresses</a><br>
        <a href="#">Orders</a><br>
        <a href="#">Products</a><br>
        <a href="#">Categories</a>
        <p   strong>___________________<br>
        <a href="#">Analytics Dashboard</a></p>
      </div> <!-- end "navbar col" -->
    </div>  

    <div class="col-md-9"> 
      <div class="data_cols"> <!-- data col(s) -->  
        <p class="data-line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <a class="pull-right" href="#">X</a></p>
        <br>
      </div> <!-- end data col(s) -->
    </div> 
  </div> <!-- end just one row -->
  <br><br><br>

</div> <!-- end container -->



