<div class="jumbotron">
  <div class="container">
  <h1>Viking Store Analytics Dashboard</h1>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>1.Overall Platform</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 7 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>New Users</td>
                  <td>placeholder text</td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td>placeholder text </td>
                </tr>
                <tr>
                  <td>New Products</td>
                  <td> placeholder text</td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td>placeholder text  </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 30 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>New Users</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td>   placeholder text </td>
                </tr>
                <tr>
                  <td>New Products</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td>   placeholder text   </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Total</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Users</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td>   placeholder text </td>
                </tr>
                <tr>
                  <td>Products</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td>   placeholder text   </td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <div class="fat-heading">
            <h2>2. User Demographics and Behavior</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top 3 States Users Live In (billing)</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>***STATE*******</td>
                  <td>  number </td>
                </tr>
                <tr>
                  <td>*****STATE******</td>
                  <td>  number  </td>
                </tr>
                <tr>
                  <td>****STATE****** </td>
                  <td>  number </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top 3 Cities Users Live In (billing)</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>***CITY*******</td>
                  <td>  number </td>
                </tr>
                <tr>
                  <td>*****CITY******</td>
                  <td>  number  </td>
                </tr>
                <tr>
                  <td>****CITY****** </td>
                  <td>   number </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top Users With...</caption>
                <tr>
                  <th>Item</th>
                  <th>User</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>***Some stat*****</td>
                  <td>*****some user*****</td>
                  <td>number</td>
                </tr>
                <tr>
                  <td>***Some stat*****</td>
                  <td>*****some user*****</td>
                  <td>number</td>
                </tr>
                <tr>
                  <td>***Some stat*****</td>
                  <td>*****some user*****</td>
                  <td>number</td>
                </tr>
                <tr>
                  <td>***Some stat*****</td>
                  <td>*****some user*****</td>
                  <td>number</td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>3. Order Statistics</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 7 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td>   placeholder text </td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td>   placeholder text   </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 30 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td>   placeholder text </td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td>   placeholder text   </td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Total</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td>   placeholder text </td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td>   placeholder text</td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td>   placeholder text   </td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>4. Time Series Data</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Orders By Day</caption>
                <tr>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Orders By Week</caption>
                <tr>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
                <tr>
                  <td>***Date*****</td>
                  <td>*****quantity*****</td>
                  <td>*******value********</td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>
    </div>

  </div>
</div>
