<div class="jumbotron">
  <div class="container">
  <h1>Viking Store Analytics Dashboard</h1>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <h1>1.Overall Platform</h1>
          <article>
            <h2>Last 7 Days</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>New Users</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Orders</td>
                <td>    </td>
              </tr>
              <tr>
                <td>New Products</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Revenue</td>
                <td>      </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Last 30 Days</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>New Users</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Orders</td>
                <td>    </td>
              </tr>
              <tr>
                <td>New Products</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Revenue</td>
                <td>      </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Total</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>Users</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Orders</td>
                <td>    </td>
              </tr>
              <tr>
                <td>Products</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Revenue</td>
                <td>      </td>
              </tr>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <h1>2. User Demographics and Behavior</h1>
          <article>
            <h2>Top 3 States Users Live In (billing)</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>***STATE*******</td>
                <td>  number </td>
              </tr>
              <tr>
                <td>*****STATE******</td>
                <td>  number  </td>
              </tr>
              <tr>
                <td>****STATE****** </td>
                <td>   number </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Top 3 Cities Users Live In (billing)</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>***CITY*******</td>
                <td>  number </td>
              </tr>
              <tr>
                <td>*****CITY******</td>
                <td>  number  </td>
              </tr>
              <tr>
                <td>****CITY****** </td>
                <td>   number </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Top Users With...</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>User</td>
                <td>Quantity</td>
              </th>
              <tr>
                <td>***Some stat*****</td>
                <td>*****some user*****</td>
                <td>number</td>
              </tr>
              <tr>
                <td>***Some stat*****</td>
                <td>*****some user*****</td>
                <td>number</td>
              </tr>
              <tr>
                <td>***Some stat*****</td>
                <td>*****some user*****</td>
                <td>number</td>
              </tr>
              <tr>
                <td>***Some stat*****</td>
                <td>*****some user*****</td>
                <td>number</td>
              </tr>
            </table>
          </article>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <h1>3. Order Statistics</h1>
          <article>
            <h2>Last 7 Days</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>Number of Orders</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>    </td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>      </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Last 30 Days</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>Number of Orders</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>    </td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>      </td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Total</h2>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Data</td>
              </th>
              <tr>
                <td>Number of Orders</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>    </td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>   </td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>      </td>
              </tr>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <h1>4. Time Series Data</h1>
          <article>
            <h2>Orders By Day</h2>
            <table class="table">
              <th>
                <td>Date</td>
                <td>Quantity</td>
                <td>Value</td>
              </th>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
            </table>
          </article>
          <article>
            <h2>Orders By Week</h2>
            <table class="table">
              <th>
                <td>Date</td>
                <td>Quantity</td>
                <td>Value</td>
              </th>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
              <tr>
                <td>***Date*****</td>
                <td>*****quantity*****</td>
                <td>*******value********</td>
              </tr>
            </table>
          </article>
        </section>
      </div>
    </div>

  </div>
</div>
