<div class="container">
  <!-- Main page header -->
  <div class="row mt-2 mb-4">
    <div class="col-md-12">
      <h1 class="text-center text-primary">Viking Store Analytics Dashboard</h1>
    </div>
  </div>

  <!-- first row of 2 dashboard panels -->
  <div class="row">

    <!-- Overall Platform panel -->
    <div class="col-md-5 border">
      <h2 class="text-center text-primary mt-4">1. Overall Platform</h2>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Last 7 Days</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>150</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$50000</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Last 30 Days</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>150</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$50000</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Total</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>150</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$50000</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- User Demographics and Behavior panel -->
    <div class="col-md-5 border ml-md-auto">

      <h2 class="text-center text-primary mt-4">2. User Demographics and Behavior</h2>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Top 3 States Users live in (Billing)</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>California</td>
            <td>23</td>
          </tr>
          <tr>
            <td>Texas</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Oregon</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Top 3 Cities Users live in (Billing)</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Los Angeles</td>
            <td>8</td>
          </tr>
          <tr>
            <td>San Francisco</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Austin</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Top User With..</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>User</td>
            <td>Quantity</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Highest Single Order Value</td>
            <td>Joe Smith</td>
            <td>$650</td>
          </tr>
          <tr>
            <td>Highest Lifetime Value</td>
            <td>Jane Cook</td>
            <td>$1500</td>
          </tr>
          <tr>
            <td>Highest Average Order Value</td>
            <td>Jimmy Boffa</td>
            <td>$300</td>
          </tr>
          <tr>
            <td>Most Orders Placed</td>
            <td>Jill Juno</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <!-- second row of 2 dashboard panels -->
  <div class="row mt-4">

    <!-- Order Statistics panel -->
    <div class="col-md-5 border">

      <h2 class="text-center text-primary mt-4">3. Order Statistics</h2>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Last 7 Days</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Number of Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Total Revenue</td>
            <td>$50000</td>
          </tr>
          <tr>
            <td>Average Order Value</td>
            <td>$150</td>
          </tr>
          <tr>
            <td>Largest Order Value</td>
            <td>$600</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Last 30 Days</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Number of Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Total Revenue</td>
            <td>$50000</td>
          </tr>
          <tr>
            <td>Average Order Value</td>
            <td>$150</td>
          </tr>
          <tr>
            <td>Largest Order Value</td>
            <td>$600</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Total</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Number of Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Total Revenue</td>
            <td>$50000</td>
          </tr>
          <tr>
            <td>Average Order Value</td>
            <td>$150</td>
          </tr>
          <tr>
            <td>Largest Order Value</td>
            <td>$600</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- Time Series Data panel -->
    <div class="col-md-5 border ml-md-auto">
      <h2 class="text-center text-primary mt-4">4. Time Series Data</h2>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Orders by Day</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Date</td>
            <td>Quantity</td>
            <td>Value</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Today</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Yesterday</td>
            <td>5</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Today</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 15</td>
            <td>10</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 14</td>
            <td>2</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 13</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 12</td>
            <td>3</td>
            <td>$500</td>
          </tr>
        </tbody>
      </table>

      <!-- table with dummy data -->
      <h4 class="text-left text-secondary mt-4">Orders by Week</h4>
      <table class="table table-striped mt-4">
        <thead class="table-inverse">
          <tr>
            <td>Date</td>
            <td>Quantity</td>
            <td>Value</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Today</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Yesterday</td>
            <td>5</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Today</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 15</td>
            <td>10</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 14</td>
            <td>2</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 13</td>
            <td>3</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Aug 12</td>
            <td>3</td>
            <td>$500</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
