<div class="container">

  <!-- Main page header -->
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="text-center">Viking Store Analytics Dashboard</h1>
    </div>
  </div>

  <!-- first row of 2 dashboard panels -->
  <div class="row">

    <!-- Overall Platform panel -->
    <%= render "overall_platform_panel",
    locals: {
      total_users: total_users,
      total_orders: total_orders,
      total_products: total_products,
      total_revenue: total_revenue,

      new_users_within_30_days: new_users_within_30_days,
      orders_placed_within_30_days: orders_placed_within_30_days,
      new_products_within_30_days: new_products_within_30_days,
      revenue_within_30_days: revenue_within_30_days,

      new_users_within_7_days: new_users_within_7_days,
      orders_placed_within_7_days: orders_placed_within_7_days,
      new_products_within_7_days: new_products_within_7_days,
      revenue_within_7_days: revenue_within_7_days
    } %>

    <!-- User Demographics and Behavior panel -->
    <%= render "user_demographics_and_behavior_panel",
      locals: {
        top_3_states_by_billing_address: top_3_states_by_billing_address,
        top_3_cities_by_billing_address: top_3_cities_by_billing_address,
        highest_single_order_value: highest_single_order_value,
        highest_lifetime_value: highest_lifetime_value,
        highest_average_order_value: highest_average_order_value,
        user_with_most_orders_placed: user_with_most_orders_placed
      }
    %>

  </div>

  <!-- second row of 2 dashboard panels -->
  <div class="row mt-4">

    <!-- Order Statistics panel -->
    <%= render "order_statistics_panel",
      locals: {
        total_orders: total_orders,
        total_revenue: total_revenue,
        total_largest_order_value: highest_lifetime_value,
        total_average_order_value: total_average_order_value,

        orders_placed_within_30_days: orders_placed_within_30_days
      }
    %>

    <!-- Time Series Data panel -->
    <%= render "time_series_data_panel" %>

  </div>

</div>
