<div class="container">
  <section>
    <div class="text-center">
      <h1>Viking Store Analytics Dashboard</h1>
    </div>
  </section>
</div>

<div class="container">
  <section>
    
    <% @panels.each do |panel| %>
      <%= render partial: 'panel', locals: { panel: panel } %>
    <% end %>

  </section>
</div>