<div class="container">
  <!-- Main page header -->
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="text-center text-primary">Viking Store Analytics Dashboard</h1>
    </div>
  </div>

  <!-- first row of 2 dashboard panels -->
  <div class="row">

    <!-- Overall Platform panel -->
    <%= render "overall_platform_panel",
    locals: { total_revenue: total_revenue } %>

    <!-- User Demographics and Behavior panel -->
    <%= render "user_demographics_and_behavior_panel" %>

  </div>


  <!-- second row of 2 dashboard panels -->
  <div class="row mt-4">

    <!-- Order Statistics panel -->
    <%= render "order_statistics_panel" %>

    <!-- Time Series Data panel -->
    <%= render "time_series_data_panel" %>

  </div>
</div>
