<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <h1> Viking Store Analytics Dashboard </h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-6">
      <h3> 1. Overall Platform </h3>
      <h4>Last 7 Days</h4>
      <table class="table">
        <thead>
          <th>Item</th>
          <th>Data</th>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
      <h4>Last 30 Days</h4>
      <table class="table">
        <thead>
          <th>Item</th>
          <th>Data</th>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
      <h4>Total</h4>
      <table class="table">
        <thead>
          <th>Item</th>
          <th>Data</th>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>100</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "col-xs-6">
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-6">
    </div>
    <div class = "col-xs-6">
    </div>
  </div>
</div>