<h1 class='text-center'>Viking Store Analytics Dashboard</h1>


<div class='container'>

  <div class='row'>
    <div class='col-xs-6'>

        <h4 class='text-center'>1. Overall Platform</h4>

        <% 3.times do %>
          <%= render partial: 'table' %>
        <% end %>

      </div>


    <div class='col-xs-6'>
        <h4 class='text-center'>2. User Demographics and Behavior</h4>

        <% 3.times do %>
          <%= render partial: 'table' %>
        <% end %>

    </div>
  </div> <!-- row -->


  <div class='row'>
    <div class='col-xs-6'>
        <h4 class='text-center'>3. Order Statistics</h4>

        <% 3.times do %>
          <%= render partial: 'table' %>
        <% end %>
    </div>

    <div class='col-xs-6'>
        <h4 class='text-center'>4. Time Series Data</h4>

        <% 3.times do %>
          <%= render partial: 'table' %>
        <% end %>

    </div>
  </div>
  </div> <!-- row -->

</div> <!-- container -->