<h1>Dashboard</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<div class="container">
	<div class="row">
		<h1>Overall Platform</h1>
		<%= render partial: 'overall_platform' %>
		<h1>User Demographics</h1>
		<%= render partial: 'user_demographics' %>
		<h1>Order Statistics</h1>
		<%= render partial: 'order_statistics' %>
	</div>
</div>