<h1>Analytics Dashboard</h1>
<div class="row">
  <section class="col-sm-6 panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= infographic.header %></h2>
    </div>

    <!-- Default panel contents -->
    <% infographic.section each do |section| %>
    <h3 class="panel-title">section.header</h3>

    <!-- Table -->
    <table class="table">

      <thead>
        <tr>
          <% section.header.each do |header| %>
          <th><%= header %></th>
          <% end%>
        </tr>
      </thead>
      <tbody>
        <% section.data.each do |row| %>
        <tr>
          <% row.each do |item| %>
          <td><%= item %></td>
          <% end%>
        </tr>
        <% end %>

      </tbody>


    </table>
    <% end %>
  </section>
</div>
