<main class="container">
	<!-- Section 1: Overal Platform Data -->
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<%= render partial: "overall_platform" %>
		</div>
	</div>	

	<!-- Section 2: User Demographics Data -->
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<%= render partial: "user_demographics" %>			
		</div>
	</div>	

	<!-- Section 3: Order Statistics Data -->
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<%= render partial: "order_statistics" %>
		</div>
	</div>

	<!-- Section 4: Time Series Data -->
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<%= render partial: "time_series_data" %>
		</div>
	</div>
</main> <!-- / main container -->