<h1 class='text-center'>The Viking Store</h1>
<h2 class='text-center'>The Best Viking Gear on the Whole Web</h2>
<h3 class='text-center'>Choose from among our lineup of fine items below</h3>

<%= render partial: 'category_form' %>

<div class='container'>
  <div class='row'>
    <div class='col-sm-3'>
      
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-3'>

    </div>
  </div>
</div>