<div class="container">
	<h1 class="text-center">Viking Store Analytics Dashboard</h1>
</div>

<div class="container">
	<div class="row">
		<%= render partial: 'overall_platform' %>
		<%= render partial: 'user_demographics' %>
	</div>
	<div class="row">
		<%= render partial: 'order_statistics' %>
		<%= render partial: 'time_series_data' %>
	</div>
</div>