<div class="container">
<div class="row">
  <div class="well col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <h3 class="text-center">Example</h3>
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>New Users</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Orders</td>
      <td>150</td>
    </tr>
    <tr>
      <td>New Products</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td>$50000</td>
    </tr>
  </table>
  </div>
  <div class="well col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <h3 class="text-center">Example</h3>
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>New Users</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Orders</td>
      <td>150</td>
    </tr>
    <tr>
      <td>New Products</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td>$50000</td>
    </tr>
  </table>
  </div>
</div>
<div class="row">
  <div class="well col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <h3 class="text-center">Example</h3>
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>New Users</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Orders</td>
      <td>150</td>
    </tr>
    <tr>
      <td>New Products</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td>$50000</td>
    </tr>
  </table>
  </div>
  <div class="well col-md-6 col-lg-6 col-sm-12 col-xs-12">
  <h3 class="text-center">Example</h3>
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>New Users</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Orders</td>
      <td>150</td>
    </tr>
    <tr>
      <td>New Products</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td>$50000</td>
    </tr>
  </table>
  </div>
</div>
</div>