<h2 class="text-center">Viking Store Analatycs Dashboard</h2>
<div class="col-md-5 panel panel-default">
   <div class="panel-body">
     <h4 class="text-center">Overall Platform</h4>
     <h5>Last 7 Days</h5>
   	 <table class="table">
   	  	<tr>
         <th>Item</th>
         <th>Data</th> 
        </tr>
        
        <tr>
          <td>New Users</td>
          <td><%= @users_seven_days %></td>
        </tr>
        <tr>
          <td>Orders</td>
          <td><%= @orders_seven_days %></td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>$50000</td>
        </tr>
   	 </table >

       Last 30 Days
       <table class="table">
         <tr>
           <th>Item</th>
           <th>Data</th> 
         </tr>

        <tr>
          <td>New Users</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>150</td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>$50000</td>
        </tr>
        

     </table>



     Total
       <table class="table">
         <tr>
           <th>Item</th>
           <th>Data</th> 
         </tr>

        <tr>
          <td>New Users</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>150</td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>$50000</td>
        </tr>
        

     </table>

   </div>
</div>
<div class="col-md-5 col-md-offset-1 panel panel-default">
   <div class="panel-body">
     <h4 class="text-center">User Demographics and Behavior</h4>
     <h5>Top 3 States Users Live In(billing)</h5>
   	<table class="table">
   	  <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>California</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Texas</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Oregon</td>
        <td>3</td>
      </tr>
   	</table>

    <h5>Top 3 Cities Users Live In(billing)</h5>
    <table class="table">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>Los Angelos</td>
        <td>8</td>
      </tr>  
      <tr>
        <td>San Francisco</td>
        <td>3</td>
      </tr>  
      <tr>
        <td>San Diego</td>
        <td>10</td>
      </tr>
    </table>
    <h5>Top Users With...</h5>
    <table class="table">
    <tr>
      <th>Item</th>
      <th>User</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>Highest Single Order</td>
      <td>Joe Smith</td>
      <td>$650</td>
    </tr>


    <tr>
      <td>Highest Average Order</td>
      <td>Joe Don</td>
      <td>$450</td>
    </tr>

    <tr>
      <td>Highest LIfetime Value</td>
      <td>Jane Smith</td>
      <td>$550</td>
    </tr>

    <tr>
      <td>Highest LIfetime Value</td>
      <td>Jane Smith</td>
      <td>$550</td>
    </tr>

    <tr>
      <td>Highest LIfetime Value</td>
      <td>Jane Smith</td>
      <td>$550</td>
    </tr>

    </table>

   </div>
</div>

<div class="col-md-5 col-md-offset-1 panel panel-default">
   <div class="panel-body">
     <h4 class="text-center">Order Statistics</h4>
   	<table class="table">
   	  <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>California</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Texas</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Oregon</td>
        <td>3</td>
      </tr>
   	</table>
   </div>
</div>

<div class="col-md-5 panel panel-default">
   <div class="panel-body">
     <h4 class="text-center">Time Series Data</h4>
   	<table class="table">
   	  <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>California</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Texas</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Oregon</td>
        <td>3</td>
      </tr>
   	</table>
   </div>
</div>