<h1 class="text-center">Viking Store Analytics Dashboard</h1>
<br>

<div class="row">
  <div class="col-sm-6">
    <%= render 'overall_platform' %>
  </div> <!-- col -->

  <div class="col-sm-6">
    <%= render 'user_demographics' %>
  </div> <!-- col -->
</div>

<div class="row">
  <div class="col-sm-6">
    <%= render 'order_stats' %>
  </div> <!-- col -->

  <div class="col-sm-6">
    <%= render 'time_series' %>
  </div> <!-- col -->
</div>

