<div class="container">
  <h1 class="text-center">Viking Store Analytics Dashboard</h1>

  <div class="row">
    <!-- Aggregate data -->
    <div class="col-md-6 text-center">
      <h2>1. Overall Platform</h2>

      <h3>Last 7 Days</h3>

      <h3>Last 30 Days</h3>

      <h3>Total</h3>
    </div>

    <!-- User demographics -->
    <div class="col-md-6 text-center">
      <h2>2. User Demographics and Behavior</h2>

      <h3>Top 3 States Users Live In (billing)</h3>

      <h3>Top 3 Cities Users Live In (billing)</h3>

      <h3>Top User With...</h3>
    </div>
  </div>

  <div class="row">
    <!-- Order statistics -->
    <div class="col-md-6 text-center">
      <h2>3. Order Statistics</h2>

      <h3>Last 7 Days</h3>

      <h3>Last 30 Days</h3>

      <h3>Total</h3>
    </div>

    <!-- Time series data -->
    <div class="col-md-6 text-center">
      <h2>4. Time Series Data</h2>

      <h3>Orders by Day</h3>

      <h3>Order by Week</h3>
    </div>

  </div>

</div>
