<div class="container">
  <h1 class="text-center">Viking Store Analytics Dashboard</h1>

<div class="row">
  <div class="col-xs-6">
  <h3> 1. Overall Platform </h3>
  <h4> Last 7 Days </h4>
   <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Users</td>
        <td><%= @users_seven_days || "no users!" %></td>
      </tr>
      <tr>
        <td>Orders</td>
        <td><%= @orders_seven_days || "no orders!" %></td>
      </tr>
      <tr>
        <td>Products</td>
        <td><%= @products_seven_days || "no products!" %></td>
      </tr>

      <tr>
        <td>total rev</td>
        <td><%= @revenue_seven_days || "no products!" %></td>
      </tr>



    </tbody>
  </table>

  <h4> Last 30 Days </h4>
  <table>
   <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
      </tr>
    </tbody>
  </table>

  <h4> Total </h4>
  <table>
    <tr>Text</tr>
    <tr>Text</tr>
  </table>

  </div>
  <div class="col-xs-6">

  <table>
    <tr>Text</tr>
    <tr>Text</tr>
  </table>

  </div>



</div>


<div class="row">

    <div class="col-xs-6">

    <table>
      <tr>Text</tr>
      <tr>Text</tr>
    </table>

    </div>
    <div class="col-xs-6">

    <table>
      <tr>Text</tr>
      <tr>Text</tr>
    </table>



  </div>



</div>



</div>
