<div class='container'>

  <div class='row'>
    <div class='col-xs-12'>
      <h1 class='text-center'>Viking Store Analytics Dashboard</h1>
    </div>
  </div>


  <div class='row'>

    <% 4.times do %>

        <%= render 'panel' %>

    <% end %>

  </div> <!-- row -->


</div>
