<div class="container-fluid product-footer">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 text-center">
      <h4>Contact</h4>
      <p>
        <img src=""><span>1-000-000</span>
      </p>
      <p>
        <img src=""><span>1-000-000</span>
      </p>
    </div>
    <div class="col-xs-3">
      <%= link_to "Admin Login", {}, class: "nav navbar-right" %>
    </div>
  </div>
</div>