<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2">
    Sign Up or Sign In
  </div>

</div>

<div class="row">
  <div class="col-xs-6 signup_form text-center">
    I do NOT have an account...
  </div>

  <div class="col-xs-6 signin_form">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      I have an account
    </div>

    <%= render partial: "sessions/signin_form" %>
  </div>

</div>
