<table class="table table-striped table-bordered">
  <tbody>
    <% user.addresses.each do | address| %>
    <tr>
      <td><strong>Street Address</strong></td>
        <td>
          <%= address.street_address%>
        </td>
    </tr>
    <tr>
       <td><strong>Secondary Address</strong></td>
       <td>
          <%= address.secondary_address %>
        </td>
    </tr>
    <tr>
       <td><strong>Zip code</strong></td>
       <td>
          <%= address.zip_code %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>