<h1>Viking Store Admin Portal</h1>

<nav>
  <ul class="nav nav-pills nav-stacked">
    <h4>Navigation Options</h4>
    <li>Users</li>
    <li>Addresses</li>
    <li>Orders</li>
    <li>Products</li>
    <li><%= link_to "Categories", category_path %></li>
    <li><%= link_to "Analytics Dashboard", root_path%></li>
</ul>
</nav>


<%= render partial: "sharedtable", :locals => {:table_data => @table_data, :title => "Users", :headers => @headers } %>