

<h2 class="text-center">Viking Store Admin Portal</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-3 text-center">
            <h5 >Navigation Options</h5>
            <p></p>
            <ul class="nav nav-pills nav-stacked">
                <li>Users</li>
                <li>Addresses</li>
                <li>Orders</li>
                <li>Products</li>
                <li>Categories</li>
            </ul>
            <p></p>
            <footer>
                Analytics Dashboard
            </footer>
        </div>
        <div class="col-sm-9">
        </div>
    </div>
</div>



