<div class="col-xs-12 text-center">
	<h1>Viking Store Analytics Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-6 bordered">
		<div class="col-xs-12 text-center">
			<h2>1. Overall Platform</h2>
		</div>
		<div class="col-xs-12">
			<h3>Last 7 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td>100</td>
				</tr>

				<tr>
					<td>Orders</td>
					<td>150</td>
				</tr>

				<tr>
					<td>New Products</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Last 30 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td>100</td>
				</tr>

				<tr>
					<td>Orders</td>
					<td>150</td>
				</tr>

				<tr>
					<td>New Products</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Total</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td>100</td>
				</tr>

				<tr>
					<td>Orders</td>
					<td>150</td>
				</tr>

				<tr>
					<td>New Products</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>	
	</div>
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>2. User Demographics and Behavior</h2>
		</div>
		<div class="col-xs-12">
			<h3>Top 3 States Users Live In (billing)</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>California</td>
					<td>23</td>
				</tr>

				<tr>
					<td>Texas</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Oregon</td>
					<td>10</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Top 3 Cities Users Live In (billing)</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Los Angeles</td>
					<td>23</td>
				</tr>

				<tr>
					<td>San Francisco</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Austin</td>
					<td>10</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Top User With...</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					User
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Highest Single Order Value</td>
					<td>Joe Smith</td>
					<td>$650</td>
				</tr>

				<tr>
					<td>Highest Lifetime Value</td>
					<td>Jane Cook</td>
					<td>$5000</td>
				</tr>

				<tr>
					<td>Highest Average Order Value</td>
					<td>Jimmy Boffet</td>
					<td>$750</td>
				</tr>

				<tr>
					<td>Most Orders Placed</td>
					<td>Jimmy Boffet</td>
					<td>22</td>
				</tr>

			</table>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>3. Order Statistics</h2>
		</div>
		<div class="col-xs-12">
			<h3>Last 7 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td>100</td>
				</tr>

				<tr>
					<td>total Revenue</td>
					<td>150</td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Last 30 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td>100</td>
				</tr>

				<tr>
					<td>total Revenue</td>
					<td>150</td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Total</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td>100</td>
				</tr>

				<tr>
					<td>total Revenue</td>
					<td>150</td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>10</td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$50,000</td>
				</tr>

			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>4. Time Series Data</h2>
		</div>
		<div class="col-xs-12">
			<h3>Orders By Day</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Date
				</th>

				<th>
					Quantity
				</th>

				<th>
					Value
				</th>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Orders By Week</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Date
				</th>

				<th>
					Quantity
				</th>

				<th>
					Value
				</th>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

				<tr>
					<td>Today</td>
					<td>100</td>
					<td>$100</td>
				</tr>

			</table>
		</div>
	</div>

</div>