<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Viking Store Analytics Dashboard</h1>
	</div>

	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>1. Overall Platform</h2>
		</div>
		<table class="table table-hover">
			
		</table>
	</div>
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>2. User Demographics and Behavior</h2>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>3. Order Statistics</h2>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-xs-12 text-center">
			<h2>1. Time Series Data</h2>
		</div>
	</div>

</div>