<table>
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>Number of Orders</td>
    <td><%= @orders_total %></td>
  </tr>
  <tr>
    <td>Total Revenue</td>
    <td><%= number_to_currency(@revenue_total) %></td>
  </tr>
  <tr>
    <td>Average Order Value</td>
    <td><%= number_to_currency(@avg_order_value_total) %></td>
  </tr>
  <tr>
    <td>Largest Order Value</td>
    <td><%= number_to_currency(@largest_order_value_total) %></td>
  </tr>
</table>