<div class="jumbotron">
  <div class="container">
  <h1>Viking Store Analytics Dashboard</h1>

    <div class="row">
      <div class="col-xs-6">
        <%= render 'first_panel' %>
      </div>

      <div class="col-xs-6">
        <%= render 'second_panel' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <%= render 'third_panel' %>
      </div>

      <div class="col-xs-6">
        <%= render 'forth_panel' %>
      </div>
    </div>

  </div>
</div>
