<div class='page-header text-center'>
  <h1>Viking Store Analytics Dashboard</h1>
</div>
<div class="container">
  <div class='row'>
    <div class='col-md-5 col-md-offset-1 table-bordered'>
      <%= render partial: 'overall_platform' %>
    </div>
    <div class='col-md-5 col-md-offset-1 table-bordered'>
      <%= render partial: 'demographics' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 col-md-offset-1 table-bordered'>
      <%= render partial: 'order_statistics' %>
    </div>
    <div class='col-md-5 col-md-offset-1 table-bordered'>
      <%= render partial: 'time_series' %>
    </div>
  </div>
</div>