<div class="panel panel-default navbar-fixed-left text-center">
  <div class="panel-heading navbar-heading">Navigation</div>
  <div class="panel-body">
    Users<br>
    Addresses<br>
    Orders<br>
    Products<br>
    Categories<br>
    <hr class="navbar-hr">
    Analytics Dashboard
  </div>
</div>