<div class="panel panel-default admin-navbar-fixed-left text-center">
  <div class="panel-heading admin-navbar-heading">Navigation</div>
  <div class="panel-body">
    Users<br>
    Addresses<br>
    Orders<br>
    <div class="admin-nav-link">
      <%= link_to 'Products', admin_products_path %>
    </div>
    <div class="admin-nav-link">
      <%= link_to 'Categories', admin_categories_path %>
    </div>
    <hr class="admin-hr">
    Analytics Dashboard
  </div>
</div>