<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h4>Navibation Options</h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#">Users</a></li>
      <li role="presentation"><a href="#">Addresses</a></li>
      <li role="presentation"><a href="#">Orders</a></li>
      <li role="presentation"><a href="#">Products</a></li>
      <li role="presentation"><a href="#">Categories</a></li>
      <hr>
      <li role="presentation"><a href="#">Analytics Dashboard</a></li>
    </ul>
  </div>
</div>
