<div class="panel panel-default navbar-fixed-left text-center">
  <div class="panel-heading navbar-heading">Navigation</div>
  <div class="panel-body">
    Users<br>
    Addresses<br>
    Orders<br>
    Products<br>
    <%= link_to 'Categories', admin_categories_path %>
    <hr class="admin-hr">
    Analytics Dashboard
  </div>
</div>