<ul class="nav nav-pills nav-stacked">
  <%
  [
    ['Dashboard', '/'],
    ['Addresses', '#'],
    ['Categories', categories_path],
    ['Orders', '#'],
    ['Products', products_path],
    ['Users', '#'],
    ['Analytics', '/analytics']
  ].each do |link|
  text = link[0]
  path = link[1]
  %>
  <li role="presentation">
    <%= link_to(text, path) %>
  </li>
  <% end %>
</ul>