<ul class="nav nav-pills nav-stacked">
  <%
  [
    ['Dashboard', '/'],
    ['Addresses', admin_addresses_path],
    ['Categories', admin_categories_path],
    ['Orders', admin_orders_path],
    ['Products', admin_products_path],
    ['Users', admin_users_path],
    ['Analytics', admin_analytics_path]
  ].each do |link|
  text = link[0]
  path = link[1]
  %>
  <li role="presentation">
    <%= link_to(text, path) %>
  </li>
  <% end %>
</ul>