<div class='col-md-3'>
  <nav class='table-bordered'>
    <h4 class='text-center'>Navigation Options</h4>
    <ul>
      <li>Users</li>
      <li>Addresses</li>
      <li>Orders</li>
      <li>Products</li>
      <li>Categories</li>
      <hr>
      <li><%= link_to "Analytics Dashboard", dashboard_path %></li>
    </ul>
  </nav>
</div>