<% @page_title = " | Admin Dashboard" %>

<section>
  <%= render :partial => "header_button_table",
             :locals => {:table_header => "Viking Store Categories",
             						 :button_label => "Create a New Category",
                         :headers => @column_names,
                         :rows => @categories} %>
</section>
