<div class="jumbotron">
  <h1>Welcome to the Viking Store Admin Dashboard!</h1>
  <p>
    <%= link_to('Check out these stats!', analytics_path, :class => 'btn btn-primary btn-lg', :role => 'button') %>
  </p>
</div>