<%= render partial: 'header' %>
<div class='container'>
  <div class='row'>
    <%= render partial: 'side_nav' %>
    <div class='col-md-8 col-md-offset-1 table-bordered'>
      <%= render partial: 'flash' %>
      <%= render partial: 'categories' %>
    </div>
  </div>
</div>