<div class="panel panel-default col-md-4">
  <div class="panel-body text-center">
  <h4>Navigation Oprions</h4>
  	<ul class="list-unstyled ">
  		<li><a href="#">Users</a></li>
  		<li><a href="#"> Addresses</a></li>
  		<li><a href="#"> Orders</a></li>
  		<li><%= link_to "Products", products_path %></li>
  		<li><%= link_to "Categories", categories_path %></li>
  		<hr />
  		<li><a href="#"> Analytics Dashboard</a></li>
  	</ul>
  </div>
</div>

<div class="panel panel-default col-md-6 col-md-offset-1">
  <div class="panel-body">
    <%= flash[:success] = "Successfully created..."%>
  </div>
</div>
