<div class="container">
  <h1 class="text-center">Viking Store Admin Portal</h1>
  <div class="row">
    <!-- Navigation -->
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h4>Navibation Options</h4>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#">Users</a></li>
            <li role="presentation"><a href="#">Addresses</a></li>
            <li role="presentation"><a href="#">Orders</a></li>
            <li role="presentation"><a href="#">Products</a></li>
            <li role="presentation"><a href="#">Categories</a></li>
            <hr>
            <li role="presentation"><a href="#">Analytics Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Panels -->
    <div class="col-sm-9">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>Viking Store Users</h2>
        </div>
        <div class="panel-body">
          <button type="button" name="button" class="btn btn-primary btn-block btn-lg">Create New User</button> <br>
          <table class="table table-bordered">
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Efra</td>
              <td><a href="#">Show</a></td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
