<div class="jumbotron">
  <h1>Welcome to the Viking Store Admin Dashboard!</h1>
  <div class="alert alert-info">
    Usually we'd require you to be an ACTUAL administrator and sign in with credentials, but we'll let you in since this is just a demo!
    So while you're here...
  </div>
  <p>
    <%= link_to('Check out these stats!', admin_analytics_path, :class => 'btn btn-primary btn-lg', :role => 'button') %>
  </p>
</div>