<div class="top-section">
  <h2>User <%= "#{@user.id} #{@user.first_name} #{@user.last_name}"  %> Orders</h2>
  <%= link_to "Create an Order", new_user_user_order_path(@user), class: "btn btn-primary btn-lg" %>
</div>

<%= render 'shared/order_table', orders: @orders %>
