<footer class="main-footer row" id="main-footer">

    <div>
      <div class="col-md-4 col-md-offset-4">
        <h4 class = "text-center">Contact</h4>
        <ul>
          <li><%= image_tag "http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_phone_white.png"%>555-555-5555</li>
          <li><%=image_tag "http://s3.amazonaws.com/viking_education/demos/viking_store_app/email_white.png"%> admin@vikingstore.com</li>
        </ul>
      </div>
      <div class="col-md-2 pull-right">
        <%= link_to "Admin Login", admin_root_path %>
      </div>
    </div>

</footer>