

<table>
  <tr>
    <td>
      Street
    </td>
    <td>
      <%= "#{address.street_address} #{secondary_address(address)}" %>
    </td>
  </tr>

  <tr>
    <td>
      City
    </td>
    <td>
      <%= address.city.name %>
    </td>
  </tr>

  <tr>
    <td>
      State
    </td>
    <td>
      <%= address.state.name %>
    </td>
  </tr>
</table>
