<h2> Logistical Information </h2>

<%= render partial: "admin/orders/basic_info", locals: {order: order}%>
<%= link_to "Edit Customer Profile", edit_admin_user_path(order.user) %>

<%= render partial: "admin/orders/address_form", locals: {order: order}%>
