<div class='row'>
  <div class='col-xs-8 col-xs-offset-2 text-center'>

    <%= link_to "Delete Order", order_path(order_id),
            :method => :delete,
            :data => { :confirm => 'Delete order?' } %>

  </div>
</div>