<div class="row">
  <div class="col-sm-2"><strong>Street</strong></div>
  <div class="col-sm-10"><%= address.street_address  %></div>
</div>
<div class="row">
  <div class="col-sm-2"><strong>City</strong></div>
  <div class="col-sm-10"><%= address.city.name %></div>
</div>
<div class="row">
  <div class="col-sm-2"><strong>State</strong></div>
  <div class="col-sm-10"><%= address.state.name %></div>
</div>