<h1> Edit Order for <%= @order.user.name %></h1>

<%= render partial: "admin/orders/logistics", locals: {order: @order} %>
<%= render partial: "admin/orders/contents_form", locals: {order: @order} %>
<%= render partial: "admin/orders/add_products_form", locals: {order: @order} %>
