<% content_for :resource_name, "Order" %>
<h1 class="text-center">User <%= @order.id %>: <%= @order.full_name %></h1>

<h2>Order Information</h2>

<table class="table table-striped special-table">
  <tbody>
    <tr>
      <td><strong></strong></td>
      <td></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_admin_order_path(@order), class: 'btn btn-default' %>
</p>
<p>
  <%= link_to "Delete", admin_order_path(@order), method: :delete, class: 'btn btn-default btn-danger', data: { confirm: "Are you sure?"} %>
</p>
