<section id='admin-order-show'>


  <div class='row'>
    <div class='col-xs-12'>

      <h1 class='text-center'><%= show_order_title(@order) %></h1>



    <!-- Logistical Information -->
      <%= render :partial => 'show_logistics',
            :locals => {
                        :order => @order,
                        :order_status => @order_status,
                        :user => @user,
                        :shipping_address => @shipping_address,
                        :billing_address => @billing_address,
                        :card => @card
                       },
            :layout => 'layouts/shared/show_panel' %>


      <!-- Order Contents -->
      <%= render :partial => 'show_contents',
            :locals => {
                        :order => @order,
                        :order_contents => @order_contents
                       },
            :layout => 'layouts/shared/show_panel' if @order_contents %>



    </div>
  </div>

</section>