<h3>Admin Actions for <%= @user.first_name %> <%= @user.last_name %></h3>
<button class="btn btn-large btn-primary">Create Order</button>
<button class="btn btn-large btn-primary">Create Address</button>