<div class='row'>

  <div class='col-xs-12'>
    <h4 class='text-center'><strong>Order History</strong></h4>
  </div>

</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>

    <table class='table table-striped table-bordered text-center'>

      <thead class='bg-primary'>
        <tr>
          <td>ID</td>
          <td>Order Date</td>
          <td>Order Value</td>
          <td>Status</td>
          <td>SHOW</td>
          <td>EDIT</td>
          <td>DELETE</td>
        </tr>
      </thead>

      <tbody>
        <%= render :partial => 'show_user_orders', :collection => user_orders %>
      </tbody>

    </table>

  </div>
</div>