<table class="table table-striped">
  <tr>
    <td><strong>Item</strong></td>
    <td><strong>Data</strong></td>
  </tr>
  <tr>
    <td>New Users</td>
    <td><%= @user_created_seven_days %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td></td>
  </tr>
  <tr>
    <td>New Products</td>
    <td></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td></td>
  </tr>
</table>