<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Edit Profile</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="row">
           <%= render partial: 'user_form', locals: {user: @user} %>
        </div>
      </div>
  </div>
</div>