<h4>Edit User <%= "#{@user.id}: #{@user.first_name} #{@user.last_name}"%></h4>
<%= render "form" %>
<%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user.id), method: "delete", data: {confirm: "Do you really want to delete?"} %>