<header class="page-header">
  <h1>
  Edit User:
    <small>
      <%= link_to(@user.name, user_path(@user)) %>
    </small>
  </h1>
</header>

<%= render :partial => 'form', :locals => {:user => @user} %>