<% @page_title = " | Users" %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<section>
  <%= render :partial => "./shared/header_button_table",
             :locals => {:table_header => "Viking Store Users",
 						 :button_label => "Create a New User",
 						 :button_link => new_user_path,
                         :headers => @column_names,
                         :rows => @users,
                         :model_name_plural => 'users'
                         } %>
</section>