<h1>Users</h1>


<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Signup Date</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
