<h2>Viking Store Users</h2>
<div class="create-btn-wrapper">
	<form method="get" action="/users/new">
		<button type="submit" class="btn btn-lg create-button text-center">Create a New User</button>
	</form>
	<%= render partial: "table_user", locals: {data: 'Hello'} %>
</div>