<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">Viking Store Users</h1> 
  </div>  
</div>  

<div class="row">
  <div class="col col-xs-3">
  </div>
  <div class="col col-xs-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Joined</th>
          <th>City></th>
          <th>State</th>
          <th>Orders</th>
          <th>Order-Date</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>  
      </thead>
    </table>     
  </div>
</div>  
