<section id='user-index'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <h1 class='text-center'>Viking Store Users</h1>

      <%= link_to 'Create a New User', new_product_path, class: 'btn btn-success btn-lg btn-block' %>

    </div>
  </div>


  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <table class='table table-striped table-bordered text-center'>

        <thead class='bg-success'>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Joined</td>
            <td>City</td>
            <td>State</td>
            <td>Orders</td>
            <td>Last Order Date</td>
            <td>SHOW</td>
            <td>EDIT</td>
            <td>DELETE</td>
          </tr>
        </thead>

        <tbody>
          <%= render :partial => 'user', :collection => @users %>
        </tbody>


      </table>

    </div>
  </div>

</section>