<% @page_title = " | Users" %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<section>
  <%= render :partial => "./shared/header_button_table",
             :locals => {:table_header => "Viking Store Users",
 						 :button_label => "Create a New User",
 						 :button_link => new_user_path,
                         :headers => @column_names,
                         :rows => @users,
                         :model_name_plural => 'users',
                         # Not too sure what I'm gonna send this in as because I'm not sure where that number of orders is going to point to. Will it point to a subset of the users pages like /users/user_id/orders or what?? will decide later I guess
                         :belongs_to_plural => '#'
                         } %>
</section>