<header class="page-header">
  <h1>Users</h1>
  <%= link_to('+ New User', new_user_path, :class => 'btn btn-primary btn-lg') %>
</header>

<% if @users.empty? %>
  <p>No users found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'Name','Shipping Address', 'Orders', 'Email', 'Show', 'Edit', 'Delete'],
    :rows => @users.map do |user|
      [
        user.id,
        user.name,
        user.shipping ? link_to(user.shipping.full_address, address_path(user.shipping)) : '-',
        user.orders.length > 0 ? link_to(user.orders.length, user_orders_path(user)) : '-',
        user.email,
        link_to('Show', user_path(user)),
        link_to('Edit', edit_user_path(user)),
        link_to('Delete', user_path(user), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
      ]
    end
  }} %>
<% end %>
