<header class="page-header">
  <h1>Users</h1>
  <%= link_to('+ New User', new_user_path, :class => 'btn btn-primary btn-lg') %>
</header>

<% if @users.empty? %>
  <p>No users found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => @users.first.attributes.keys + ['show', 'edit', 'delete'],
    :rows => @users.map do |user|
      row = user.attributes.keys.map do |a|
        user.attributes[a]
      end
      # row << link_to('orders', '#')
      row << link_to('show', user_path(user))
      row << link_to('edit', edit_user_path(user))
      row << link_to('delete', user_path(user), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
    end
  }} %>
<% end %>
