<div class="container">
	<div id="users-new">

		<% if flash[:alert] %>
			<div class="flash">
				<p><%= flash[:alert] %></p>
			</div>
		<% end %>

		<div class="row">
			<div class="col-xs-12">
				<div class="header text-center">
					<div class="header-text">
						<h1>Sign Up</h1>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
