<header class="container-fluid">

  <div class="row">
    <section class="col-sm-12 header">
      <h1 class="sign-in-title">Sign Up</h1>
    </section>
  </div>

</header>

<%= render partial: 'user_form' %>

<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-right admin-login">
        <p><a href="#">Admin Login</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center contact-info">
        <p class="contact-header">CONTACT</p>
        <p>1 - 000 - 000 - 0000</p>
        <p>contact@vikingstore.com</p>
      </div>
    </div>

  </div>
</footer>
