<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>

    <div class='user-panel'>

      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>

          <%= yield %>

        </div>
      </div>

    </div>

  </div>
</div>