<table class="table table-striped table-bordered table-sm">
  <thead class="thead-default">
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  </thead>

  <tr>
    <td>Number of orders</td>
    <td><%= orders.count %></td>
  </tr>
  <tr>
    <td>Total revenue</td>
    <td>&dollar;<%= revenue %></td>
  </tr>
  <tr>
    <td>Average order value</td>
    <td>&dollar;<%= average_order %></td>
  </tr>
  <tr>
    <td>Largest order value</td>
    <td>&dollar;<%= largest_order %></td>
  </tr>
</table>