<section class="overall-platform col-sm-6 border border-primary rounded">
  <h4 class="text-center">1. Overall Platform</h4>

  <h5>Last 7 days</h5>
  <%= render partial: 'platform_table', locals: {
      new_users: @new_users_7,
      orders: @orders_7,
      new_products: @new_products_7,
      revenue: @revenue_7
  } %>

  <h5>Last 30 days</h5>
  <%= render partial: 'platform_table', locals: {
      new_users: @new_users_30,
      orders: @orders_30,
      new_products: @new_products_30,
      revenue: @revenue_30
  } %>

  <h5>Total</h5>
  <%= render partial: 'platform_table', locals: {
      new_users: @users,
      orders: @orders,
      new_products: @products,
      revenue: @revenue
  } %>
</section>

