<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Viking Store analytics dashboard</h1>
  </div>
</div>
<div class="row">
  <%= render 'overall_platform' %>
  <section class="user-demographics col-sm-6"></section>
</div>

<div class="row"></div>