<div class="btn-group">
  <%
  [
    link_to("Edit #{resource}", edit_path, :class => 'btn btn-primary'),
    link_to("Delete #{resource}", delete_path, :method => :delete, :class => 'btn btn-danger', :data => {:confirm => 'Delete?'})
  ].each do |link|
  %>
    <%= link %>
  <% end %>
</div>