<footer class="site-footer">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-4 col-xs-offset-5">
        <h4>CONTACT</h4>
      </div>
      <div class="col-xs-2 col-xs-offset-1 text-right">
        <%= link_to 'Admin Login', admin_root_path %>
      </div>       
    </div>
    <div class="row">
      <div class="col-xs-1 col-xs-offset-4 text-right">
        <%= image_tag "placeholder.png", size: "30x30", alt: "View Cart" %>
      </div>          
      <div class="col-xs-4">
        1-555-000-5555
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-xs-offset-4 text-right">
        <%= image_tag "placeholder.png", size: "30x30", alt: "View Cart" %>
      </div>          
      <div class="col-xs-4">
        contact@vikingstore.com
      </div>
    </div>
  </div>
</footer>