<footer class = "footer col-md-12">
  <h4>CONTACT</h4>
  <div class = "contact-wrapper">
  <p><img src = "http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_phone_white.png" width = "20px" height = "20px">
    <span class = "phone-number">1 - 000 - 000 - 0000</span></p>
  </div>
  
  <div class = "contact-wrapper">
    <p><img src = "http://s3.amazonaws.com/viking_education/demos/viking_store_app/email_white.png" width = "22px" height = "15px">
    contact@vikingstore.com
    </p>
    <p><%=link_to "Admin Portal", admin_analytics_path %>
  </div>
</footer>