<div class="jumbotron" style="margin:0px;background:#333333; ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="color:white;">
        <p class="text-center"><%= link_to "Admin Login", admin_path, style: "color:white;"%></p>
        <h3 class="text-center">CONTACT</h3>
        <h3 class="text-center">1 - 000 - 000 - 0000</h3>
        <h3 class="text-center">contact@vikingstore.com</h3>
      </div>
    </div>
  </div>
</div>
