<div class="products-controller">

  <div class="darkness cushion">  

    <footer class="main-footer row" id="main-footer">

          <div class="col-md-4 col-md-offset-4">
            <h4>Contact</h4>
            <ul>
              <li>1-000-000-0000</li>
              <li>contact@vikingstore.com</li>
            </ul>
          </div>
          <div class="col-md-2 pull-right">
            <%= link_to "Admin Login" %>
          </div>
        </div>


    </footer>
  </div>

</div>