<header>
  <h3><%= table_header %></h3>
</header>

<div class="stats-table">
  <table class="table table-striped">
    <tr>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% rows.each do |row| %>
      <tr>
        <% row.each do |data| %>
          <% unless data == "#" %>
            <td><%= data %></td>
          <% else %>
            <td><a href=<%=data%>>show</a></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>