<footer>
  <div class="contact">
    <h4>Contact</h4>

    <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_phone_white.png" height="20px" width="25px">

    <p>1 - 000 - 000 - 0000</p>

    <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/email_white.png" height="20px" width="25px">

    <p>contact@vikingstore.com</p>

    <%= link_to "Admin Login", admin_path %>
  </div>
</div>