<footer class = "footer text-center" id = "home-footer">
  <div class="row">
    <%= link_to "Admin Login", admin_path, class: "pull-right col-xs-3" %>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3>Contact</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <p><img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_phone_white.png" height="20px" width="25px">
      1 - 000 - 000 - 0000</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <p><img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/email_white.png" height="20px" width="25px">
      contact@vikingstore.com</p>
    </div>
  </div>

</footer>