<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <nav class="navbar navbar-default navbar-fixed-side">
        <ul class="nav navbar-nav">
          <div class="col-lg-12">
          <h4>Navigation options</h4>
          <li><a href="#">Users</a></li>
          <li><a href="#">Address</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <hr>
          <li><a href="#">Analytics Dashboard</a></li>
          </div>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-lg-3">
      <!-- your page content -->
    </div>
  </div>
</div>