<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h4><%= link_to "Viking Store", root_path, class: "text-center"%><h4>
    </div>
    <div class="col-xs-2 col-xs-offset-8">
      <div style="float: left;">
        <img src="http://placebear.com/50/50" alt="Home">
      </div>
      <div>
        <%= link_to "Your Cart", root_path, class: "text-center" %>
      </div>
      <div>
        <%= link_to "Sign-in", root_path, class: "text-center" %>
      </div>
    </div>
  </div>
</div>
