<div class="navbar-header">
	<a class="navbar-brand">
		Viking Store
	</a>
</div>

<div class="navbar" id="navbar">
	<ul class="nav navbar-nav navbar-right">
		<li><a> Sign In </a></li>
		<li><a> Sign Out </a></li>
	</ul>
</div>
