<div class="col-3 border text-center align-self-start">
  <h4 class="pt-4">Navigation Options</h4>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Addresses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <%= link_to "Categories", categories_path, class: "nav-item" %>
    </li>
  </ul>

  <hr>

  <%= link_to "Analytics Dashboard", dashboard_path, :class => "nav-link pb-4" %>
</div>
