<nav class = "navbar row" id = "store-navbar">
  <div class = "col-md-2">
    Viking Store
  </div>

  <div class = "col-md-3 col-md-offset-7">
    <div class = "col-md-6">
    <figure>
      <%= link_to "#" do %>
        <img src = "http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_empty_cart.png" height = "24px">
        Your Cart
      <% end %>
    </figure>
  </div>
  <div class = "col-md-6">
    <%= link_to "Sign In", new_session_path %>
    </div>
  </div>

</nav>