<div class="col-sm-3 text-center">
		<h3>Navigation Options</h3>

		<ul>
			<li>Users</li>
			<li>Addresses</li>
			<li>Orders</li>
			<li>Products</li>
			<li><%= link_to "Categories", categories_path %></li>
			<hr>
			<li>Analytics Dashboard</li>
		</ul>
	</div>