<nav class="navbar navbar-default navbar-fixed-side">
  <ul class="nav navbar-nav">
    <div class="col-lg-12">
    <h4>Navigation options</h4>
    <li><a href="#">Users</a></li>
    <li><a href="#">Address</a></li>
    <li><a href="#">Orders</a></li>
    <li><a href="#">Products</a></li>
    <li><%= link_to "Categories", category_index_path %></li>
    <hr>
    <li><%= link_to "Analytics Dashboard", dashboard_path %></a></li>
    </div>
  </ul>
</nav>
