<div class="col-sm-12 text-center clearfix">
	<div class="pull-left">
		<h3>Viking Store</h3>
	</div>

	<div class="pull-right">
		<%= link_to "Your Cart", "#" %>
		<%= link_to "Sign In", "#" %>
	</div>
</div>