<h3>3. Order Statistics</h3>


<h5>Last 7 Days</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
    </tbody>
  </table>


<h5>Last 30 Days</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
    </tbody>
  </table>


<h5>Total</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
      </tr>
    </tbody>
  </table>