<thead>
  <tr>
    <th scope="col">Item</th>
    <th scope="col">Data</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Number of Orders</td>
    <td><%= number %></td>
  </tr>
  <tr>
    <td>Total Revenue</td>
    <td>$<%= revenue %></td>
  </tr>
  <tr>
    <td>Average Order Value</td>
    <td>$<%= avg_ord_val %></td>
  </tr>
  <tr>
    <td>Largest Order Value</td>
    <td>$<%= lrg_ord_val %></td>
  </tr>
</tbody>