<thead>
  <tr>
    <th scope="col">Item</th>
    <th scope="col">Data</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Number of Orders</td>
    <td><%= number %></td>
  </tr>
  <tr>
    <td>Total Revenue</td>
    <td><%= total_revenue(period) %></td>
  </tr>
  <tr>
    <td>Average Order Value</td>
    <td><%= avg_order_val(period) %></td>
  </tr>
  <tr>
    <td>Largest Order Value</td>
    <td><%= large_order_val(period) %></td>
  </tr>
</tbody>