<table class="table">
  <% objs.each do |obj| %>
    <% obj.select{|k,v| keys.include?(k)}.each do |k, v| %>
      <tr>
        <th><%= k.gsub("_", " ").titleize %></th>
        <td><%= v %></td>
      </tr>
    <% end %>
  <% end %>

</table>
