<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Number of Orders</th>
      <td><%= data[:num_orders] %></td>
    </tr>
    <tr>
      <th>Total Revenue</th>
      <td><%= data[:total_revenue] %></td>
    </tr>
    <tr>
      <th>Average Order Value</th>
      <td><%= data[:avg_order_value] %></td>
    </tr>
    <tr>
      <th>Largest Order Value</th>
      <td><%= data[:largest_order_value] %></td>
    </tr> 
  </tbody>
</table>