 <h1> Additional Queries </h1>

  Panel 1: Display a "Change" column in both the 7- and 30- day tables which shows the change between that period and the prior period of teh same duration (e.g. days 1-30 vs 31-60) <br>
  Panel 2: Show the top customer by value in each of our top 3 states by value. <br>
  Panel 3: Show the top state that orders were shipped to in each of the 3 available time periods. <br>
  Panel 4: Show a 5-week trailing average order value column in the "orders by week" table