<div class= "user-section-wrapper">
	<div class="row">
		<div class="col-md-12">
			<h3>Order Contents</h3>			
			<%= render partial: "contents_table", locals: {this_order: @order} %>
			<%= link_to "Edit Order", edit_order_path(@order.id) %><br>
			<%= link_to "Delete Order", order_path(@order.id), method: "delete", data: {confirm: "Do you really want to delete?"} %>
		</div>
	</div>
</div>