<h3>Logistical Information</h3>
<h4>Basic Information</h4>
<p>Customer ID: <%= @user.id%> </p>
<p>Customer: <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user.id) %> </p>
<p>Date Placed: N/A </p>
<%= link_to "Edit Customer Profile", edit_user_path(@user.id) %>