<table class='table table-striped'>
  <% @order.order_contents.each do |order_contents| %>
    <tr>
      <td><%= order_contents.product.name %></td>
      <td><%= order_contents.quantity %></td>
      <td>$<%= order_contents.product.price %></td>

    </tr>
  <% end %>
</table>