<div class='row'>

  <div class='col-xs-6 col-xs-offset-1'>
    <%= render :partial => 'order_contents_left', :locals => { :content_fields => content_fields } %>
  </div>

  <div class='col-xs-4'>
    <%= render :partial => 'order_contents_right', :locals => { :content_fields => content_fields } %>
  </div>

</div>