<div class='row'>
  <div class='col-xs-8 col-xs-offset-2'>
    <p class='text-center text-muted'><em>
      You can add products on the next screen,<br>
      once it's been created.
  </em></p>
  </div>
</div>