<section id='order-edit'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <h1 class='text-center'>
        <%= "Edit Order #{@order.id}" %>
      </h1>

    </div>
  </div>


  <div class='row'>
    <div class='col-xs-12'>

      <%= render :partial => 'order_form',
            :locals => {
                        :order => @order,
                        :user => @user,
                        :available_addresses => @available_addresses,
                        :available_cards => @available_cards,
                        :button_label => 'Update Order Information'
                       },
            :layout => 'layouts/shared/show_panel' %>

    </div>
  </div>


</section>