<h2>Viking Store Orders</h2>
<div class="create-btn-wrapper">
	<button type="button" class="btn btn-lg create-button text-center">Create a New Order</button>
	<%= render partial: "table_order", locals: {data: 'Hello'} %>
</div>