<header class="page-header">
  <h1>Orders</h1>
</header>

<%= render :partial => 'shared/table', :locals => {:table => {
  :headers => @orders.first.attributes.keys + ['show', 'edit', 'delete'],
  :rows => @orders.map do |order|
    row = order.attributes.keys.map do |a|
      if a == 'user_id'
        order.user ? link_to('user', user_path(order.user.id)) : 'No user'
      else
        order.attributes[a]
      end
    end
    row << link_to('show', order_path(order.id))
    row << link_to('edit', edit_order_path(order.id))
    row << link_to('delete', order_path(order.id), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
  end
}} %>