<header class="page-header">
  <h1>Orders</h1>
  <small>
    New orders can only be created from a
    <%= link_to('user', users_path) %>
    profile
  </small>
</header>

<% if @orders.empty? %>
  <p>No orders found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => @orders.first.attributes.keys + ['show', 'edit', 'delete'],
    :rows => @orders.map do |order|
      row = order.attributes.keys.map do |a|
        if a == 'user_id'
          order.user ? link_to('user', user_path(order.user)) : 'No user'
        else
          order.attributes[a]
        end
      end
      row << link_to('show', order_path(order))
      row << link_to('edit', edit_user_order_path(order.user, order))
      row << link_to('delete', order_path(order), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
    end
  }} %>
<% end %>
