<header class="page-header">
  <h1>Orders</h1>
  <small>
    New orders can only be created from a
    <%= link_to('user', users_path) %>
    profile
  </small>
</header>

<% if @orders.empty? %>
  <p>No orders found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'User', 'Shipping Address', 'Revenue', 'Status', 'Checkout Date', 'Show', 'Edit', 'Delete'],
    :rows => @orders.map do |order|
      [
        order.id,
        link_to(order.user.name, user_path(order.user)),
        link_to(order.shipping.full_address, address_path(order.shipping)),
        number_to_currency(order.revenue),
        %Q[<span class="#{order.checkout_date ? 'text-success' : 'text-danger'}">#{order.checkout_date ? 'Placed' : 'Unplaced'}</span>].html_safe,
        order.checkout_date ? order.checkout_date.to_formatted_s(:long) : '-',
        link_to('Show', order_path(order)),
        link_to('Edit', edit_user_order_path(order.user, order)),
        link_to('Delete', order_path(order), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
      ]
    end
  }} %>
<% end %>
