<% @page_title = " | New Order" %>

<% if flash[:alert] %>
  <div class="notice">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render :partial => "edit_or_new_form",
           :locals => {:form_type => "new",
                       :form_header => "New Order for #{@user.full_name}",
                       :order => @order,
                       :user => @user,
                       :submit_label => "Create Order In Shopping Cart"
                       } %>