// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-address-index {

  .btn {
    margin-top: 15px;
    margin-bottom: 25px;
  }

}

#admin-address-show {

  .row-group {
    margin-bottom: 15px;
  }
}