// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-placed {
  color: green;
} 

.order-unplaced {
  color: red;
}