<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>New Users</td>
    <td><%= User.number_of_users %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= Order.number_of_orders %></td>
  </tr>
  <tr>
    <td>New Products</td>
    <td><%= Product.number_of_products %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= Order.total_revenue.round(2) %></td>
  </tr>
</table>