<section id="edit-or-new">

<div class="row">
  <div class="col-md-12 text-center crud-header">
    <h2><%= form_header %></h2>
  </div>
</div>

<div class="crud-container">

  <%= form_for object do |f| %>

    <p>
     Owner ID:
    </p>
    <p>
      Owner Name:
    </p>
    <%= button_to submit_label, object, :class => "btn btn-primary btn-lg center-block", :method => :post %>

    <% if form_type == 'edit' %>
      <%= link_to 'Delete', object, data: {:confirm => "Are you sure?"}, :method => :delete %>
    <% end %>

  <% end %>

</div>

</section>