<h2>Edit an address for <%= link_to @address.user.first_name + ' ' + @address.user.last_name, user_path(@address.user.id) %></h2>
<p><%= link_to "Delete this address", address_path(@address.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
<%= render partial: "address_form_edit" %>
