<header class="page-header">
  <h1>
  Edit Address:
    <small>
      <%= link_to(@address.full_address, address_path(@address)) %>
    </small>
  </h1>
</header>

<%= render :partial => 'form', :locals => {:address => @address} %>