<div class="row">
  <h3>Viking Store Addresses</h3>
</div>

<div class="row">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Orders</th>
      <th>Created</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @addresses %>
  </table>
</div>
