<% @addresses = @addresses.where('user_id = ?', params[:user_id]) if params[:user_id] %>

<header class="page-header">
  <h1>Addresses</h1>
</header>

<% if @addresses.empty? %>
  <p>No addresses found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => @addresses.first.attributes.keys + ['show', 'edit', 'delete'],
    :rows => @addresses.map do |address|
      row = address.attributes.keys.map do |a|
        if a == 'user_id'
          address.user ? link_to('user', user_path(address.user.id)) : 'No user'
        else
          address.attributes[a]
        end
      end
      row << link_to('show', address_path(address.id))
      row << link_to('edit', edit_address_path(address.id, :user_id => address.user_id))
      row << link_to('delete', address_path(address.id), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
    end
  }} %>
<% end %>
