<% @page_title = " | New Address" %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<%= render :partial => "edit_or_new_form",
           :locals => {:form_type => "new",
           						 :form_header => "Add Address for #{@user.full_name}",
           						 :address => @address,
           						 :user => @user,
           						 :submit_label => "Create Address"
           						 } %>
