<div class="row" style="border: 2px solid grey">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">Create a New Address for <%= "#{@user.first_name} #{@user.last_name}"%></h1>

    <%= render partial: "form" %>

    <br>
  </div>
</div>
