<table class='table'>

  <caption><%= caption %></caption>
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <% totals.each do |key, val| %>
  <tr>
    <td><%= key %></td>
    <td><%= val %></td>
  </tr>
  <% end %>
</table>