
<div>
<table class="table table-striped">
  <%=title%>
  <tr>
    <td>Item</td>
    <td>Data</td>
  <tr>
    <% table_data.each do |name, num|%>
    <tr>
      <td> <%= name %></td>
      <td><%= num %></td>
    <tr>
      <%end%>
</table>
</div>
