<table class="table">
  <thead>
  <tr>
  <th>Item</th>
  <th>Data</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total Users</td>
      <td><%= data[2] %></td>
    </tr>
    <tr>
      <td>Total Orders</td>
      <td><%= data[0] %></td>
    </tr>
    <tr>
      <td>Products listed</td>
      <td><%= data[1] %></td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td><%= number_to_currency(data[3]) %></td>
    </tr>
  </tbody>
</table>
