<div class="jumbotron text-center">
  <h1>Viking Store Admin Portal</h1>
</div>
<div class="container">

  <div class="row">
  <%= render partial: 'shared/nav' %>

<article class="col-sm-9">
  <h2 class="text-center">Viking Store Users</h2>
  <br>
  <button class="btn btn-primary center-block extend">
    Create a New User
  </button>

<!--   <%=link_to 'Create a New User', class: 'btn btn-primary center-block extend' %> -->
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Joined</th>
        <th>City</th>
        <th>State</th>
        <th>Orders</th>
        <th>Last Order Date</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
    </tbody>
  </table>  
</article>


  </div>
  





</div>


