<div class="jumbotron text-center">
  <h1>Viking Store Admin Portal</h1>
</div>
<div class="container">

  <div class="row">
  <div class="col-sm-3">
    <nav class="col-sm-12">
      <h5 class="text-center">Navigation Options</h5>

      <ul>
        <li>User</li>
        <li>Addresses</li>
        <li>Orders</li>
        <li>Products</li>
        <li>Categories</li>
      </ul>

      <a href="#">Analytics Dashboard</a>
    </nav>    
  </div>

<article class="col-sm-9">
  <h2 class="text-center">Viking Store Users</h2>
  <br>
  <button class="btn btn-primary center-block big-ass-button">
    Create a New User
  </button>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Joined</th>
        <th>City</th>
        <th>State</th>
        <th>Orders</th>
        <th>Last Order Date</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
      <tr>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
        <td>something</td>
      </tr>
    </tbody>
  </table>  
</article>


  </div>
  





</div>


