<div class="jumbotron text-center">
  <h1>Viking Store Analytics Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: 'shared/overall' %>
    </div>

    <div class="col-sm-6">
      <%= render partial: 'shared/user' %>
    </div>

    <div class="col-sm-6">
      <%= render partial: 'shared/order' %>
    </div>

    <div class="col-sm-6">
      <%= render partial: 'shared/time_series' %>
    </div>


  </div>
</div>