<div class="row">
  <div class="col-md-12" id="header-bar">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>
<div class="row">

  <%= render "overall_platform" %>

  <%= render "user_demographics" %>

</div>
<div class="row">

  <%= render "order_statistics" %>

  <%= render "time_series_data" %>

</div>