<h1>Viking Store Analytics Dashboard</h1>

<div class='row'>

  <div class='col-xs-6'>
    <h2>1. Overall Platform</h2>
    <table>

    </table>

    <table>

    </table>

    <table>

    </table>
  </div>

  <div class='col-xs-6'>
    <h2>2. User Demographics & Behavior</h2>
    <table>

    </table>

     <table>

    </table>

     <table>

    </table>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6'>
    <h2>3. Order Statistics</h2>
    <table>

    </table>

    <table>

    </table>

    <table>

    </table>
  </div>

  <div class='col-xs-6'>
    <h2>4. Time Series Data</h2>
    <table>

    </table>

    <table>

    </table>
  </div>
</div>