<div class="row">
  <div class="col-md-12" id="header-bar">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6" id="overall-platform">
    <h3>
      1. Overall Platform
    </h3>
    <h4>
      Last 7 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Last 30 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Total
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>
  <div class="col-md-6" id="user-demographics">
    <h3>
      2. User Demographics & Behavior
    </h3>
    <h4>
      Top 3 States Users Live In (billing)
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Top 3 Cities Users Live In (billing)
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Top User With...
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>User</th>
        <th>Qty.</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>

</div>
<div class="row">
  <div class="col-md-6" id="order-statistics">
    <h3>
      3. Order Statistics
    </h3>
    <h4>
      Last 7 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Last 30 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Total
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>
  <div class="col-md-6" id="time-series-data">
    <h3>
      4. Time Series Data
    </h3>
    <h4>
      Orders by Day
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Orders by Week
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>
</div>