<h1> Viking Store Analytics Dashboard </h1>

<div class="container">
  <div class="row">
    <div class="col-md-6" style="border:solid">
      hhihi
    </div>
    <div class ="col-md-6" style="border:solid">
      hihihihi
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="border:solid">
      hhihi
    </div>
    <div class ="col-md-6" style="border:solid">
      hihihihi
    </div>
  </div>

</div>