<div class='container'>
  <div class='row'>
    <div class='col-md-5 box'>
      <h1>Overall Platform</h1>

      <h4>Total</h4>
      <table class='table table-striped'>
        <tr>
          <th>
            Item
          </th>
          <th>
            Data
          </th>
        </tr>
        <tr>
          <td>
            Users
          </td>
          <td>
            ?
          </td>
        </tr>
        <tr>
          <td>
            Orders
          </td>
          <td>
            ?
          </td>
        </tr>
        <tr>
          <td>
            Products
          </td>
          <td>
            ?
          </td>
        </tr>
        <tr>
          <td>
            Revenue
          </td>
          <td>
            ?
          </td>
        </tr>
      </table>

      <h4>Last 7 Days</h4>
      <table class='table table-striped'>
        <tr>
          <th>
            Item
          </th>
          <th>
            Data
          </th>
        </tr>
        <tr>
          <td>
            New Users
          </td>
          <td>
            100
          </td>
        </tr>
        <tr>
          <td>
            Orders
          </td>
          <td>
            150
          </td>
        </tr>
      </table>

      <h4>Last 30 Days</h4>
      <table class='table table-striped'>
        <tr>
          <th>
            Item
          </th>
          <th>
            Data
          </th>
        </tr>
        <tr>
          <td>
            New Users
          </td>
          <td>
            100
          </td>
        </tr>
        <tr>
          <td>
            Orders
          </td>
          <td>
            150
          </td>
        </tr>
      </table>
    </div>
    <div class='col-md-5 box'>
      <h1>User Demographics and Behavior</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 box'>
      <h1>Order Statistics</h1>
    </div>
    <div class='col-md-5 box'>
      <h1>Time Series Data</h1>
    </div>
  </div>
</div>
