<%= form_for [:admin, @category] do |f| %>
  <h4>Name</h4>
  <%= f.text_field :name %><br />
  <h4>Description</h4>
  <%= f.text_area :description %><br />
  <%= f.submit "Create category", class: "btn btn-primary" %>
<% end %>
