<h1 class="heading">Edit Category <%= @category.id %>: <%= @category.name %></h1>

<%= render partial: 'form', locals: { category: @category } %>

<%= link_to "Delete Category", admin_category_path(@category), method: "delete", data: {confirm: "Are you sure you'd like to delete this category?"} %>
