<div class="row" style="border: 2px solid grey">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">Edit a Category</h1>

    <%= render partial: "form" %>

    <br>
  </div>
</div>
