<div class="admin-main-content-header text-center">
  <h1>Categories</h1>
</div>
<hr class="admin-hr">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td>links go here</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
