<section id='admin-category-new'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <h1 class='text-center'>New Category</h1>

    </div>
  </div>


  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <%= render :partial => 'category_form', :locals => { :category => @category, :button_label => 'Create' } %>

    </div>
  </div>


</section>