<% @page_title = " | New Category" %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<%= render :partial => "edit_or_new_form",
           :locals => {:form_type => "new",
           						 :form_header => "New Category",
           						 :object => @category,
           						 :submit_label => "Create Category"
           						 } %>
