- content_for :delete_link do
  = link_to "Delete Product", admin_product_path(@product), method: 'delete', confirm: "Are You Sure?"

= render partial: 'form', locals: {product: @product, url: admin_product_path(@product),
   header: "Edit Product #{@product.id}"}
