<h2 class="text-center">Products</h2>
<%= render partial: 'shared/admin_header', locals: {the_model: rows.model_name.name} %>
<%= render partial: 'shared/admin_table', locals: { rows: rows, headings: headings } %>