			<div class="product-box"> 
				<div class="product-header">
					<%= product.name %>
				</div>
				<div class="product-image">
					<span class="product-price"><%= product.price %></span>
				</div>
				<div "product-footer">
					<div class="add-to-cart-button">
						<%= link_to add_product_path %>
					</div>
				</div>
			</div>