	<main>
		<header>
			<div class="hero-section">
				<h1>The Viking Store</h1>
			</div>
			<div class="tagline-block">
				
			</div>
			<div class="choose-item">
			</div>

		</header>

		<section>
			<div class="row">
				<div class="col-sm-12">
					
					<div class="filter-group">
						<div class="filter-dropdown"></div>
						<div class="filter-btn"></div>
					</div>

					<div class="col-x-x">
						
						<%= render @products %>

					</div>
				</div>
			</div>
		</secion>
	</main>
