// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.address-show .panel-heading h2 {
  text-align: center;
}

.address-show .panel-body .btn {
  width: 20%;
}
