.admin {
  .container {
    main {
      display: flex;
      padding-top: 20px;

      .site-nav {
        width: 25%;
      }

      .main-content {
        width: 75%;
      }

      a.add {
        color: #fff !important;
      }
    }

    .form-contanier {
      width: 70%;
      margin: 0 auto;
    }

    dd, dt {display: inline-block;}
    dt {
      width: 80px;
      font-weight: bold;
    }
  }
}
