// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.special-table {
  td:first-child {
    width: 20%;
  }
  td:last-child {
    width: 80%;
  }
}

.placed-order {
  color: #00EE00;
}

.unplaced-order {
  color: #EE0000;
}
