// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-navbar {
  border: 2px solid #bbb;
  text-align: center;
}

.centered {
  text-align: center;
}

.admin-main {
  border: 2px dashed #bbb;
  min-height: 500px;
  padding-top: 1em;
}

#flasher {
  background-color: #ddd;
  border: 2px dashed #ccc;
  border-radius: 6px;
}