// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content{
  height:  100%; // Set this height to the appropriate size
  overflow: scroll;
}