/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.error {
	color: hsla(15, 40%, 60%, 1);
}

.field_with_errors input {
	border: 1px solid hsla(15, 40%, 60%, 1);
}

.cart-box {
	border: 1px solid #aaa;

	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.cart-box-total {
	padding-bottom: 100px;
}