/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.portal-heading {
  font-size: 90px;
}

* {
  border-radius: 0 !important;
}

.portal-window,
#nav-bar {
  border: 2px solid grey;
}

#nav-bar {
  text-align: center;
  padding: 10px 0 20px 0;
}

#nav-bar p {
  font-size: 22px;
}

#nav-bar a {
  font-size: 16px;
}

.nav-link  {
    text-decoration: underline;
  }


.dashboard-link {
  border-top: 2px solid grey;
}

#new-btn {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
}

#index-header {
  margin-bottom: 30px;
}

#index-table td,
#index-table th {
  border-left: 0;
  text-align: center;
}

#index-table {
  width: 80%;
  margin: 30px auto;
  border: 2px solid black;
  thead {
    background-color: #eee;
  }
  a {
    text-decoration: underline;
  }
}

.heading {
  font-size: 55px;
}
