.main-content {
  border: 1px solid #ccc;
}

.table-striped {
  margin-top: 12px;
}

#topnav {
  padding: 0 10px;
  border-bottom: 1px solid gray; }
 #topnav .logo-container img {
    width: 45px;
    height: 45px;
    margin-top: 2px;
    vertical-align: middle; }
 #topnav .logo-container a {
    text-decoration: none;
    color: black;
    font-size: 140%; }

#edit-or-new form {
  display: table; }
#edit-or-new p {
  display: table-row; }
#edit-or-new label {
  display: table-cell; }
#edit-or-new input {
  display: table-cell; }
#edit-or-new .table-cell {
  display: table-cell; }
#edit-or-new .table-row {
  display: table-row; }

.main-content {
  padding: 0px 15px;
}
.side-nav {
  padding: 0px 15px;
  border: 1px solid #ccc;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.crud-container {
  border: 1px solid black;
  margin: 20px 0; 
  padding: 15px;
}

td {
  text-align: left;
}
