// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ==========================
// ADMIN - LAYOUT
// ==========================



.nav-wrapper, .admin-wrapper{
  margin: 10px;
  border: 3px solid #ccc;
}

.nav-holder {
  margin: 10px;
  text-align: center;
  ul {
    list-style-type: none;
    margin-left: -40px;
    li a {
      text-decoration: underline;
    }
    li {
            padding-bottom: 3px;
    }
    hr {
      border: 1px solid #666;
    }
  }
}

.admin-holder {
  margin: 10px;
}

// ==========================
// ADMIN - CATEGORIES
// ==========================

div.button-wrapper {
    width: 280px;
    margin: 0 auto;
    button.btn-primary {
      width: 100%;
      padding: 7px 30px;
      font-size: 16px;
    }
}

div.table-wrapper {
  padding: 10px 80px;
}



// ==========================
// ADMIN - ANALYTICS DASHBOARD
// ==========================

h1, h3, h6, td {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2, h3 {
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;
}

div.row {
  margin-bottom: 30px;
}

div.stat-window {
  border: 3px solid #999;
  padding: 15px;
}


div.inner-content {
  margin: auto 30px;
}

table caption {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

table {
  border-collapse: collapse;
}

th,
td {
  border-left: 1px solid #cecfd5;
}



