// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  margin-bottom: 1.5em;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}