// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
// img {
//   @extend .img-responsive;
//   margin: 0 auto;
//   }

.navbar {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #000;
}

.navbar-nav {
  padding: 5px 50px 5px;
  height: 50px;
  li a {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 0px;
    display: initial;
  }
}

.navbar-brand {
  font-size: 1.75em;
}


main {
  @extend .container;
}

section, footer {
  @extend .row;
  margin-top: 20px;
}

form {
  
  .field {
    @extend .form-group;
    }

  input[type=text], textarea, input[type=email], input[type=search], 
  input[type=password], select {
    @extend .form-control;
    }

  label {
    @extend .control-label;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
  }

  .field_with_errors {
    @extend .control-group;
    @extend .has-error;
  }

  .error-explanation {
    color: #a94442;
    ul {
      margin-top: 5px;
    }
  }
  
}