// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placed {
  color: green;
} /* .placed */

.unplaced {
  color: red;
} /* .placed */

header.order-form {
  margin: 20px 0px 10px 0px;
  clear: both;
  h2, h3 {
    margin: 0;
  } /* h2, h3 */
} /* .order-form */

#submit-nudge {
  margin-top: 36px;
} /* .submit-nudge */
