// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order-index {

  .btn {
    margin-top: 15px;
    margin-bottom: 25px;
  }

}