// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.placed-order-highlight{
	color: green;
	font-weight: bold;
}

.unplaced-order-highlight{
	color: purple;
	font-weight: bold;
}

.address-new-edit{
	padding: 40px;
	h3, h5{
		text-align: center;
	}
}

.order-edit-order{
	border: 1px solid black;
	margin-bottom: 20px;
}

.order-edit-content{
	border: 1px solid black;
	margin-bottom: 20px;
}

.order-add-product{
	border: 1px solid black;
}

.update-button{
	margin-bottom: 20px;
}