// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#placed {
  color: green;
}

#unplaced {
  color: red;
}

#logistics {
  border: solid 1px black;
  padding: 15px;

}

#order-contents {
  border: solid 1px black;
  padding: 15px;
  margin-top: 25px;
}