// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#order-index {
  .btn {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

#order-show {
  .show-block {
    margin-bottom: 10px;
  }

  .status-text {
    font-size: 18px;
    font-weight: bold;
  }
}