#navbar {
  border: 1px solid #999;

  li {
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .dashboard-link {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #999;
  }
}

section {
  border: 1px solid #999;
  padding-top: 20px;
  padding-bottom: 20px;

  .show-panel {
    border: 1px solid black;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}