// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.viking_cover_div{
	border: 1px solid black;
}

.viking_cover {
	font-size: 96px;
	padding-top: .5em;
	padding-bottom: .5em;
}

.viking_caption {
	font-size: 24px;
	color: white;
	background-color: #111;
	padding-top: .2em;
	padding-bottom: .2em;
}

.viking_prompt {
	font-style: italic;
}
