// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {border-radius: 0;}

.viking_cover_div{
	border: 1px solid black;
}

.viking_cover {
	font-size: 96px;
	padding-top: .5em;
	padding-bottom: .5em;
}

.viking_caption {
	font-size: 32px;
	color: white;
	background-color: #111;
	padding-top: .5em;
	padding-bottom: .5em;
}

.viking_prompt {
	font-style: italic;
}

.filter_btn {

	margin-top: 10px;
	background-color: #DADADA;
	border-color: black;
	color: #111;
}

.filter_dropdown {
	margin-top: 15px;
}

.products_list{
	border: 1px solid black;
}

.product {
	padding-top: 15px;
	padding-bottom: 15px;
}

.product_price{
	border: 3px solid black;
	position: absolute;
	background-color: white;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	top: -5px;
	right: -5px;
}

.product_header{
	font-size: 1em;
	color: white;
	background-color: #111;
	padding-top: .4em;
	padding-bottom: .4em;
	a {
		color: white;
	}
}

.product_img {
	height: 150px;
	border: 1px solid black;
	padding-left: 0;
	padding-right: 0;

	img {
		height:100%;
		width:100%;
	}
}

.product_cart_btn {
	background-color: #111;
}

.cart_btn {
	margin-top: .4em;
	margin-bottom: .4em;
	font-size: 18px;
	font-weight: bold;
	background-color: #F6B26B;

    color: black;

}

.in_cart_btn {
	margin-top: .4em;
	margin-bottom: .4em;
	font-size: 18px;
	font-weight: bold;
	background-color: #E5A15A;

	a {
		color: black;
	}
}
