// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-form .btn {
  width: 100%;
}

.product-show .panel-heading h2 {
  text-align: center;
}

.product-show .panel-body .btn {
  width: 20%;
}
