.header {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
  .title {
    font-size: 100px;
  }
}

.subheader {
  background-color: grey;
  text-align: center;
  padding: 20px 0 30px 0;
  .subtitle {
    font-size: 42px;
    color: white;
  }
}

.call-to-action {
  box-sizing: border-box;
  border-bottom: 3px solid grey;
  text-align: center;
  padding: 10px 0 10px 0;
  .action {
    font-size: 32px;
    color: grey;
  }
}

.filter {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  .filter-text {
    font-size: 18px;
  }
}

.product-listing {
  text-align: center;
  background-color: grey;
  padding: 10px;
  margin-bottom: 30px;
  .product-name {
    padding: 10px;
    background-color: grey;
    color: white;
  }
  .product-image {
    width: auto;
    height: auto;
  }
  .cart {
    margin-top: 7px;
  }
}

.footer {
  font-size: 18px;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: grey;
  .admin-login {
    margin-top: 10px;
    a {
      color: #E0E0E0;
    }
  }
  .contact-header {
    color: #EEAC57;
  }
  .contact-info {
    color: white;
  }
}
