// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sku-display {
  font-size: 0.8em;
  font-style: italic;
  color: gray;
} /* .sku */
