p, li, th, td {font-size: 14px;}

h1 { font-size: 34px; }

header {
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 50px;
  img {
    width: 60px;
    float: left;
    margin-right: 20px;
  }
  h1 {
    float: left;
  }
}

nav {
  text-align: center;
  h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    text-align: center;
  }
} /* nav */

.right {
  float: right;
} /* .right */

select {
  display: block;
  width: 100%;
} /* select */

input[type=submit] {
  margin: 20px 0px;
} /* input['type=submit'] */

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 1px solid red;
}
.error-message {
  color: red;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
} /* label */

.profile {
  .row {
    margin-bottom: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid #f1f1f1;
  }
  .no-line {
    border-bottom: 0px;
    margin-bottom: -5px;
    padding: -5px 0px;
  } /* .no-line */
} /* .profile */
