p, li, th, td {font-size: 14px;}

h1 { font-size: 34px; }

header {
  background-color: #313131;
  overflow: auto;
  padding: 5px 0px;
  margin-bottom: 50px;
  section {
    overflow: auto;
    margin: 0 auto;
    width: 70%;
    img {
      height: 40px;
      float: left;
      margin-right: 20px;
    }
    h1 {
      float: left;
      color: white;
    }
  }
}

nav {
  text-align: center;
  h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    text-align: center;
  }
} /* nav */

.right {
  float: right;
} /* .right */

.left {
  float: left;
} /* .left */
select {
  display: block;
  width: 100%;
  height: 2.35em;
} /* select */

input[type=submit] {
  margin: 20px 0px;
} /* input['type=submit'] */

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 1px solid red;
}
.error-message {
  color: red;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
} /* label */

.profile {
  .row {
    margin-bottom: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid #f1f1f1;
  }
  .no-line {
    border-bottom: 0px;
    margin-bottom: -5px;
    padding: -5px 0px;
  } /* .no-line */
} /* .profile */
