// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-index {
  .btn {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

#user-show {

  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}