// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-index {

  .btn {
    margin-top: 15px;
    margin-bottom: 25px;
  }

}


#user-show {
  .user-panel {
    border: 1px solid black;
    margin-bottom: 15px
  }

  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}