<h2>Viking Store Categories</h2>
<div class="create-btn-wrapper">
	<form method="get" action="/categories/new">
		<button type="submit" class="btn btn-lg create-button text-center">Create a New Category</button>
	</form>
	<%= render "table_category" %>
</div>