<% @page_title = " | Admin Dashboard" %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<section>
  <%= render :partial => "./shared/header_button_table",
             :locals => {:table_header => "Viking Store Categories",
             						 :button_label => "Create a New Category",
             						 :button_link => "/admin/categories/new",
                         :headers => @column_names,
                         :rows => @categories} %>
</section>
