<% content_for :title do %>
  <title>Viking Store Admin Portal</title>
<% end %>
<div class="row">
  <h1 class="text-center">Viking Store Admin Portal</h>
</div>
<div class="row">
  <%= render partial: "shared/admin_navbar" %>
   
  <div class="col-md-9 main-content">
    <h2 class="text-center">New Category</h2>

    <%= form_for(@category) do |t| %>
      <table>
        <tbody>
          <tr>
            <td><strong>Category ID:</strong></td>
            <td> N/A</td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td>
              <%= t.text_field :name %>
            </td>
          </tr>
        </tbody>
      </table>
      <br />

      <p><%= t.submit "Create Category", class: "btn btn-primary btn-lg btn-block" %></p>

    <% end %> 

    
  </div>
</div>