<section id='category-show'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>

      <h1 class='text-center'><%= "Category #{@category.id}: #{@category.name}" %></h1>

    </div>
  </div>


  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>


    </div>
  </div>

</section>