<h1> <%= @category.name %> </h1>

<%= @category.description %>
<%= render partial: "index_return" %>

<% @category.products.each do |product| %>
	<li> <%= link_to product.name, product %> </li>
<% end %>
