<% @page_title = " | Category & Products" %>

<table>
	<tr>
		<td><b>id:</b></td>
		<td><%= @category.id %></td>
	</tr>
	<tr>
		<td><b>name:</b></td>
		<td><%= @category.name %></td>
	</tr>
</table>

<%= link_to 'edit', "/admin/categories/#{params[:id]}/edit" %>
<%= link_to 'delete', 
						"/admin/categories/#{params[:id]}",
            data: {:confirm => 'Are you sure?'}, 
            :method => :delete %>