<h1 class="text-center">Category <%= @category.id %>: <%= @category.name %></h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>ID: <%= @category.id %></h3>
    <h3>Name: <%= @category.name %></h3>
  </div>
</div>
