<header class="page-header">
  <h1>
    Category:
    <small>
      <%= @category.name %>
    </small>
  </h1>
</header>

<%= render @category %>

<%= render :partial => 'shared/edit_delete_buttons', :locals => {
  :resource => 'Category',
  :edit_path => edit_category_path(@category),
  :delete_path => category_path(@category)
} %>

<h2>Products</h2>
<% if @category.products.present? %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'Name', 'Description'],
    :rows => @category.products.map do |product|
      [
        product.id,
        link_to(product.name, product_path(product)),
        product.description
      ]
    end
  }} %>
<% else %>
  <p>None</p>
<% end %>