<h1>Edit User <%= @user.id %>: <%= @user.first_name + " " + @user.last_name %></h1>
<%= render partial: 'demographic_form', locals: { user: @user } %>
<%= link_to "Delete #{@user.first_name} #{@user.last_name}", "#"%> 
