<div class="row">
  <h3>Viking Store Users</h3>

  <%= link_to new_user_path do %>
    <button class="btn btn-primary btn-lg col-xs-8 col-xs-offset-2">Create user</button>
  <% end %>

</div>

<div class="row">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Joined</th>
      <th>City</th>
      <th>State</th>
      <th>Orders</th>
      <th>Last Order Date</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @users %>
  </table>
</div>
