<% content_for :resource_name,  "Users" %>

<h1 class="text-center">New User</h1>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: "form", locals: { user: @user } %>
  </div>
</div>
