<h1 class="text-center">Create a New User</h1>

<div>

  <%= form_for @user do |f| %>
    <%= render partial: 'form', locals: {f: f} %> 

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <% end %>

</div>