<% @page_title = " | New User" %>

<% if flash[:alert] %>
  <div class="notice">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render :partial => "edit_or_new_form",
           :locals => {:form_type => "new",
                       :crud_header => "New User",
                       :object => @user,
                       :submit_label => "Create User"
                       } %>