<h2 class="text-center">User <%= @user.id %>: <%= @user.name %></h2>
<br>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'demographic_info' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'credit_cards' %>
  </div>
</div>



