<div class="row viking_cover_div">
  <div class="viking_cover col-xs-12 text-center">
    The Viking Store
  </div>
  <div class="viking_caption col-xs-12 text-center">
    The Best Viking Gear on the Whole Web
  </div>

  <div class="viking_prompt col-xs-12 text-center">
    Choose from among our lineup of fine items below:
  </div>
</div>
