<div class="container-fluid">
  <nav class="navbar navbar-default">
    <%= link_to "Viking Store", products_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Cart" %></li>
      <li><%= link_to "Sign In" %></li>
    </ul>
  </nav>
</div>