<div class="col-xs-12 product_cart_btn">
  <%= form_tag carts_path, method: "patch" do %>
    <%= hidden_field_tag :product_id, product.id %>
    <%= number_field_tag :quantity, quantity, min: 0, max: 10 %>
    <%= submit_tag "Remove/Update", class: "btn cart_btn"%>
  <% end %>
</div>
