<nav class="navbar navbar-inverse">
  <%= link_to "Viking Store", root_path, class: "navbar-brand" %>
  <p class="navbar-text pull-right"><%= link_to "Your cart", edit_cart_path(0), class: 'navbar-link' %> / <%= link_to "Sign in", new_session_path, class: 'navbar-link' %></p>
</nav>
