<div class="col-xs-4 text-center">
  <div class="col-xs-12 product_header">
    <%= link_to product.name, product %>
  </div>

  <div class="col-xs-12 product_price">
    <%= product.price %>
  </div>

  <div class="col-xs-12 product_cart_btn">
    Add to Cart
  </div>
</div>
