<div class="col-xs-4 text-center product">
  <div class="col-xs-12 product_header">
    <%= link_to product.name, product %>
  </div>

  <div class="col-xs-12 product_img">
    <div class="row">
	    <div class="col-xs-3 col-xs-offset-9 product_price text-center">
	      <%= number_to_currency(product.price) %>
	    </div>
	</div>
      <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg"/>
  </div>

  <%= cart_helper(product) %>
</div>
