<div class = "row">
  <div class = "col-md-12">
    <h2>Edit Product <%= @product.id %></h2>
  </div>
</div>


<%= render "product_form" %>


<div class = "row">
  <div class = "col-md-12">
    <%=link_to "Delete this product.", product_path(@product),
                          data: { confirm: "Are you sure?" },
                          method: :delete %>
  </div>
</div>