<header class="page-header">
  <h1>
  Edit Product:
    <small>
      <%= link_to(@product.name, product_path(@product)) %>
    </small>
  </h1>
</header>

<%= render :partial => 'form', :locals => {:product => @product} %>