<% @page_title = " | Edit Product" %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<%= render :partial => 'edit_or_new_form',
					 :locals => {:delete_option => true,
					 						 :form_header => "Edit Product #{@product.id}",
					 						 :form_type => "edit",
					 						 :object => @product,
					 						 :submit_label => "Update Product"
					 								} %>
