<% @page_title = " | Edit Product" %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<%= render :partial => './shared/edit_new_form',
					 :locals => {:delete_option => true,
					 						 :form_header => "Edit Product",
					 						 :object => @product,
					 						 :submit_label => "Update"
					 								} %>
