<h2>Viking Store Products</h2>
<div class="create-btn-wrapper">
	<form method="get" action="/products/new">
		<button type="submit" class="btn btn-lg create-button text-center">Create a New Product</button>
	</form>
	<%= render "table_product" %>
</div>