<div class="row">
  <h3>Viking Store Products</h3>

  <%= link_to new_product_path do %>
    <button class="btn btn-primary btn-lg col-xs-8 col-xs-offset-2">Create product</button>
  <% end %>

</div>

<div class="row">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>SKU</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category ID</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @products %>
  </table>
</div>