<div class="jumbotron navbar-offset">
  <h1 class="text-center">The Viking Store</h1>
</div>

<div class="page-header">
  <h2 class="text-center">The Best Viking Gear on the Whole Web</h2>
  <p class="text-center">Choose from among our lineup of fine items below</p>
</div>