<header class="page-header">
  <h1>Products</h1>
  <%= link_to('+ New Product', new_product_path, :class => 'btn btn-primary btn-lg') %>
</header>

<% if @products.empty? %>
  <p>No products found</p>
<% else %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'Category', 'Name', 'SKU', 'Price', 'Show', 'Edit', 'Delete'],
    :rows => @products.map do |product|
      [
        product.id,
        link_to(product.category.name, category_path(product.category)),
        product.name,
        product.sku,
        number_to_currency(product.price),
        link_to('Show', product_path(product)),
        link_to('Edit', edit_product_path(product)),
        link_to('Delete', product_path(product), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})  
      ]
    end
  }} %>
<% end %>
