<% @page_title = ' | Products' %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<section>
  <%= render :partial => './shared/header_button_table',
             :locals => { :table_header => 'Products',
                          :button_label => 'Add A New Product',
                          :button_link => categories_path,
                          :headers => @column_names,
                          :rows => @products,
                          :model_name_plural => 'products',
                          :belongs_to_plural => 'categories'
              } %>
</section>