<header class="page-header">
  <h1>Products</h1>
  <%= link_to('+ New Product', new_product_path, :class => 'btn btn-primary btn-lg') %>
</header>

<%= render :partial => 'shared/table', :locals => {:table => {
  :headers => @products.first.attributes.keys + ['show', 'edit', 'delete'],
  :rows => @products.map do |product|
    row = product.attributes.keys.map do |a|
      if a == 'category_id'
        product.category ? link_to(product.category.name, category_path(product.category.id)) : 'None'
      else
        product.attributes[a]
      end
    end
    row << link_to('show', product_path(product.id))
    row << link_to('edit', edit_product_path(product.id))
    row << link_to('delete', product_path(product.id), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
  end
}} %>