<div class="header-wrapper container-fluid">
  <div class="row main-title"><h1>The Viking Store</h1></div>
  <div class="row sub-title"><h2>The Best Viking Gear on the Whole Web</h2></div>
  <div class="row catalog-header">Choose from among our lineup of fine items below</div>
</div>

<div class="container">
  <div class="row">
    <%= render @products %>
  </div>
</div>
