<section id='products-index'>

  <%# jumbotron %>
  <div class='jumbotron'>

    <div class="container">

      <h1 class='text-center'>The Viking Store</h1>

    </div> <!-- container -->

  </div> <!-- jumbotron -->


  <div class='sub-jumbo'>
    <div class='container'>
      <h2 class='text-center'>The Best Viking Gear on the Whole Web</h2>
    </div>
  </div>



  <div class='container'>

    <div class='row products-index-header'>
      <div class='col-xs-12 text-center'>
        <h4><em>Choose from among our lineup of fine items below<em></h4>
      </div>
    </div>



    <%# product section %>


  </div> <!-- content container -->

</section>
