<header class="page-header">
  <h1>
    Product:
    <small>
      <%= @product.name %>
    </small>
  </h1>
</header>

<%= render @product %>

<h2>Stats</h2>
<%= render :partial => 'shared/table', :locals => {:table => {
  :headers => ['Key', 'Value'],
  :rows => [
    ['Orders', @product.orders.length],
    ['Shopping Carts', @product.carts.length],
    ['Placed Orders', @product.placed_orders.length],
    ['Sold Units', @product.units_sold]
  ]
}} %>