<table class="table">
  <thead>
    <th>Product ID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
  </thead>
  <tbody>
    <%= render @order_contents %>
  </tbody>
</table>