<div class="row">
  <div class="col-xs-12">
    <h2><%= "#{model.class.to_s} #{model.id}" %></h2>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-bordered">
      <% model.attributes.each_pair do |attrib, value| %>
        <tr>
          <td><%= "#{model.class.to_s} #{attrib}:"%></td>
          <td><%= (attrib == "created_at" || attrib == "updated_at") ? "#{value.to_date}" : "#{value}" %></td>
        </tr>
      <% end %>
      </table>
    </div>
</div>
