<nav class="navbar navbar-inverse">
  <%= link_to "Viking Store", root_path, class: "navbar-brand" %>
  <p class="navbar-text pull-right"><a href="#" class="navbar-link">Your cart</a> / <a href="#" class="navbar-link">Sign in</a></p>
</nav>
