<div class="navbar">
    <div class="logo">Viking Store</div>
    <div class="navbar-elements">
      <div class="cart-image"><img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_empty_cart.png" width="30px" height="30px"></div>
      <div class="cart">Your Cart</div>
    </div>
  </div>
  <div class="main-heading">
    <h1>The Viking Store</h1>
  </div>
  <div class="heading1">
    <h2>The Best Viking Gear on the Whole Web</h2>
  </div>
  <div class="sub-heading">
    <h3>Choose from among our lineup of fine axes below</h3>
  </div>


  <div class="store-frame">
    <div class="product-wrapper">

      <div class="product">
        <div class="title">
          <h4>The Silent Night</h4>
        </div>
        <div class="pimg">
          <div class="price">$200</div>
          <img src="https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_silent_night_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>

      <div class="product">
        <div class="title">
          <h4>The Dainty Daisy</h4>
        </div>
        <div class="pimg">
          <div class="price">$100</div>
          <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_dainty_daisy_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>

      <div class="product">
        <div class="title">
          <h4>Double Trouble</h4>
        </div>
        <div class="pimg">
          <div class="price">$340</div>
          <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_double_trouble_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>
    </div>

    <div class = "product-wrapper" >
      <div class="product">
        <div class="title">
          <h4>Whispering Wind</h4>
        </div>
        <div class="pimg">
          <div class="price">$225</div>
          <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_whispering_wind_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>

      <div class="product">
        <div class="title">
          <h4>The Cunning Cutter</h4>
        </div>
        <div class="pimg">
          <div class="price">$200</div>
          <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_cunning_cutter_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>

      <div class="product">
        <div class="title">
          <h4>The Kingmaker</h4>
        </div>
        <div class="pimg">
          <div class="price">$400</div>
          <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_kingmaker_small.jpg">
        </div>
        <div class="pfooter">
          <button><h5>Add to Cart</h5></button>
        </div>
      </div>
    </div>
    
      <div class = "pagination" >
        <div class="prev">
          <a href="#">&lt;&lt; Prev</a>
        </div>
        <div class="page">
          <a href="#">1</a>
        </div>
        <div class="page"><strong>2</strong>
        </div>
        <div class="page">
          <a href="#">3</a>
        </div>
        <div id="ellipsis">. . .
        </div>
        <div class="page">
          <a href="#">8</a>
        </div>
        <div class="page">
          <a href="#">9</a>
        </div>
        <div class="next">
          <a href="#">Next &gt;&gt;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="contact">
      <h4>Contact</h4>
      <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_phone_white.png" height="20px" width="25px">
      <p>1 - 000 - 000 - 0000</p>
      <div></div>
      <img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/email_white.png" height="20px" width="25px">
      <p>contact@vikingstore.com</p>
    </div>
  </div>