<div id="store">
<!--   <div class="navbar">
    <div class="logo">Viking Store</div>
    <div class="navbar-elements">
        <div class="cart-image"><img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_empty_cart.png" width="30px" height="30px"></div>
        <ul class="nav navbar-nav navbar-right">
          <li class="cart">Login </li>
          <li class="cart"> Your Cart</li>
        </ul>
        
    </div> 

  </div> -->
<!--  ======================Products============================ -->
    <div class="jumbotron">
      <h1>The Viking Store</h1>
    </div>
    <div class="heading1">
      <h2>The Best Viking Gear on the Whole Web</h2>
    </div>
    <div class="sub-heading">
      <h3>Choose from among our lineup of products below</h3>
    </div>
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <ul class="nav navbar-nav pull-right">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <% @categories.each do |cat| %>
                  <li> <%= link_to cat.name, home_path(:cat_id => cat.id) %> </li>

                  <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="store-frame">
      <div class="product-wrapper row">
        
        <% @products.each do |product| %>

          <div class="col-md-4">
            <div class="title">
              <h4><%= product.name %></h4>
            </div>
            <div class="pimg">
              <div class="price"><%= product.price %></div>
              <img class="img-responsive img-thumbnail" src="https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_silent_night_small.jpg">
            </div>
            <div class="pfooter">
              <button><h5>Add to Cart</h5></button>
            </div>
          </div>
          <% end %>
      
        <div class = "pagination" >
          <div class="prev">
            <a href="#">&lt;&lt; Prev</a>
          </div>
          <div class="page">
            <a href="#">1</a>
          </div>
          <div class="page"><strong>2</strong>
          </div>
          <div class="page">
            <a href="#">3</a>
          </div>
          <div id="ellipsis">. . .
          </div>
          <div class="page">
            <a href="#">8</a>
          </div>
          <div class="page">
            <a href="#">9</a>
          </div>
          <div class="next">
            <a href="#">Next &gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>