<div class="panel panel-default">
  <div class="panel-body text-center">
    <h5>Navigation Options</h5>

    <ul class="list-unstyled">
      <li><%= link_to 'Users', admin_users_path %></li>
      <li><a href="#">Addresses</a></li>
      <li><a href="#">Orders</a></li>
      <li><%= link_to 'Products', admin_products_path %></li>
      <li><%= link_to 'Categories', admin_categories_path %></li>
      <hr>
      <li><%= link_to 'Analytics Dashboard', dashboard_path %></li>
    </ul>
  </div>
</div>