<div class="col-xs-3" id="navbar">

  <h3>Navigation Options</h3>
  <ul>
    <li><a href="#">Users</a></li>
    <li><a href="#">Addresses</a></li>
    <li><a href="#">Orders</a></li>
    <li><a href="#">Products</a></li>
    <li><%= link_to "Categories", categories_path %></li>
    <li id="analytics"><%= link_to "Analytics Dashboard", dashboard_path %></li>
  </ul>
</div>