<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">Viking Store Admin Portal</h1> 
  </div>  
</div>  

<div class="row">
  <div class="col col-xs-3">
  </div>
  <div class="col col-xs-9">
    
  </div>
</div>  
