<section id="top-bar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Viking Store
        </a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><img width='48' height='48' alt="Viking" src="assets/viking.png"></li>
          <li><ul class='nav'>
            <li><a href="#">Your Cart</a></li>
            <li><a href="#">Sign In</a></li>
          </ul></li>
        </ul>

      </div>
    </div>
  </nav>
</section>

<section id="page-title">
  <h1 class="text-center">The Viking Store</h1>
</section>

<section id="page-subtitle">
  <h2 class="text-center">The Best Viking Gear on the Whole Web</h2>
</section>

<section id="page-content">
  <div class="container">
      <%= yield %>
  </div>
</section>

<section id="bottom-bar">

</section>

<%= render template: "layouts/application" %>
