

    <header class="row">
      <div class="hero-section">
        <h1 class="no-margin">The Viking Store</h1>
      </div>
      <div class="tagline-block">
        <h2>The Best Viking Gear on the Whole Web</h2>
      </div>
      <div class="choose-item">
        <em>Choose form among the lineup of fine items below</em>
      </div>

    </header>